@model ConaviWeb.Model.Minuta.ReunionTitular
@{
    Layout = "_LayoutSedatu";
    ViewBag.Title = "Captura";

}
<h4>Captura Reunión Titular</h4>
<hr class="red">
<div class="form-group col-md-12">
    @Html.Raw(@ViewBag.Alert)
</div>
<form id="formRT" method="post" asp-action="CapturaRTitular">
    <div class="alert alert-danger" asp-validation-summary="ModelOnly"><button class="close" data-dismiss="alert" aria-hidden="true">&times;</button></div>
    <div class="row mb-3 mb-3">
        <div class="col-md-4">
            <div class="form-group">
                <label class="form-label" for="tema">Tema</label>
                <div class="col-sm-12">
                    <select class="form-control" id="tema" name="tema" asp-items="@(new SelectList((System.Collections.IEnumerable)ViewData["Temas"], "Clave" , "Descripcion" ))">
                        <option value="">--- Seleccione ---</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="form-label" for="modalidad">Modalidad</label>
                <select class="form-control" id="modalidad" name="modalidad">
                    <option value=0>--- Seleccione ---</option>
                    <option value=1>Presencial</option>
                    <option value=2>Virtual</option>
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="form-label" for="liga">Liga</label>
                <input class="form-control" id="liga" name="liga" type="text">
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-12">
            <div class="form-group">
                <label class="form-label" for="slctResponsable">Responsable</label>
                <select class="form-control select2 select2-hidden-accessible" id="slctResponsable" name="slctResponsable" multiple="" data-placeholder="Seleccione Responsable Institucional" asp-items="@(new SelectList((System.Collections.IEnumerable)ViewData["Responsable"], "Clave" , "Descripcion" ))" aria-hidden="true">
                </select>
            </div>
        </div>
        <input type="text" id="responsable" name="responsable">
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label" for="asunto">Asunto</label>
                <textarea rows="5" class="form-control" id="asunto" name="asunto"></textarea>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label" for="sector">Sector</label>
                <select class="form-control" id="sector" name="sector" asp-items="@(new SelectList((System.Collections.IEnumerable)ViewData["Sector"], "Clave" , "Descripcion" ))">
                    <option value="">--- Seleccione ---</option>
                </select>
            </div>
        </div>
    </div>
    <h5>Quién solicita la reunión</h5>
    <hr class="red">
    <div class="row mb-3">
        <div class="col-md-4">
            <div class="form-group">
                <label class="form-label" for="nombreSol">Nombre</label>
                <input class="form-control" id="nombreSol" name="nombreSol" type="text">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="form-label" for="cargoSol">Cargo / Puesto</label>
                <input class="form-control" id="cargoSol" name="cargoSol" type="text">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="form-label" for="instSol">Institución</label>
                <input class="form-control" id="instSol" name="instSol" type="text">
            </div>
        </div>
    </div>
    <hr>
    <div class="row mb-3">
        <div class="col-md-12">
            <div class="form-group">
                <label class="form-label" for="objetivo">Obejtivo de la reunión</label>
                <textarea rows="5" class="form-control" id="objetivo" name="objetivo"></textarea>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label" for="lugar">Lugar</label>
                <input class="form-control" id="lugar" name="lugar" type="text">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label class="form-label" for="sala">Sala</label>
                <input class="form-control" id="sala" name="sala" type="text">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label class="form-label" for="tiempo">Tiempo estimado</label>
                <input class="form-control" id="tiempo" name="tiempo" type="text">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label class="form-label" for="celulares">¿Se permiten celulares?</label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="radioCel" id="cel1" value="1">
                    <label class="form-check-label" for="cel1">SÍ</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="radioCel" id="cel2" value="2">
                    <label class="form-check-label" for="cel2">NO</label>
                </div>
            </div>
        </div>
    </div>
    <h5>Participantes</h5>
    <div class="row mb-3">
        <div class="col-md-6">
            <div class="form-group">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" colspan="2">SEDATU</th>
                            <th scope="col" style="text-align: right"><button type="button" class="btn btn-primary btn-sm" id="addRowS"><i class="fa fa-plus" aria-hidden="true"></i></button></th>
                        </tr>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Acción</th>
                        </tr>
                    </thead>
                    <tbody id="tableBodyS">
                    </tbody>
                </table>
            </div>
            <input type="text" id="pSedatu" name="pSedatu">
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" colspan="2">Externos</th>
                            <th scope="col" style="text-align: right"><button type="button" class="btn btn-primary btn-sm" id="addRowE"><i class="fa fa-plus" aria-hidden="true"></i></button></th>
                        </tr>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Acción</th>
                        </tr>
                    </thead>
                    <tbody id="tableBodyE">
                    </tbody>
                </table>
            </div>
            <input type="text" id="pExterno" name="pExterno">
        </div>
    </div>
    <hr class="red">
    <h5>¿Se requieren accesos directos?</h5>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="radioAD" id="radioAD1" value="1">
        <label class="form-check-label" for="radioAD1">SÍ</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="radioAD" id="radioAD2" value="2">
        <label class="form-check-label" for="radioAD2">NO</label>
    </div>
    <div class="row mb-3">
        <div class="col-md-12" id="contenidoAD">
            <div class="form-group">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" colspan="3"></th>
                            <th scope="col" style="text-align: right"><button type="button" class="btn btn-primary btn-sm" id="addRowAD"><i class="fa fa-plus" aria-hidden="true"></i></button></th>
                        </tr>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Contacto</th>
                            <th scope="col">Acción</th>
                        </tr>
                    </thead>
                    <tbody id="tableBodyAD">
                    </tbody>
                </table>
            </div>
            <input type="text" id="accesoD" name="accesoD">
        </div>
    </div>
    <hr class="red">
    <h5>Orden del día</h5>
    <div class="col-md-12">
        <div class="form-group">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" colspan="2"></th>
                        <th scope="col" style="text-align: right"><button type="button" class="btn btn-primary btn-sm" id="addRowOD"><i class="fa fa-plus" aria-hidden="true"></i></button></th>
                    </tr>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Orden</th>
                        <th scope="col">Acción</th>
                    </tr>
                </thead>
                <tbody id="tableBodyOD">
                </tbody>
            </table>
        </div>
        <input type="text" id="orden" name="orden">
    </div>
    <div class="row mb-3">

    </div>
    <hr class="red">
    <h5>Insumos necesarios</h5>
    <br />
    <div class="form-check form-check-inline">
        <input class="form-check-input chkIns" type="checkbox" id="chk1" value="Agua">
        <label class="form-check-label" for="chk1">1) Agua</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input chkIns" type="checkbox" id="chk2" value="Café">
        <label class="form-check-label" for="chk2">2) Café</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input chkIns" type="checkbox" id="chk3" value="Proyector">
        <label class="form-check-label" for="chk3">3) Proyector</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input chkIns" type="checkbox" id="chk4" value="Laptop">
        <label class="form-check-label" for="chk4">4) Laptop</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input chkIns" type="checkbox" id="chk5" value="Bocina">
        <label class="form-check-label" for="chk5">5) Bocina</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input chkIns" type="checkbox" id="chk6" value="Otro">
        <label class="form-check-label" for="chk6">6) Otro</label>
    </div>
    <input type="text" id="insumos" name="insumos">
    <hr class="red">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-outline-primary" type="submit" id="btnSubmit">Guardar</button>
    </div>


</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<script type="text/template" id="tr_tmpl">
    <td class="userId">1</td>
    <td class="name"></td>
    <td><a data-mode='edit' class="action" href="javascript:void(0)"><i class="fa fa-pencil" aria-hidden="true"></i></a> | 
    <a class="delete" href="javascript:void(0)"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
</script>
<script type="text/template" id="tr_tmplAD">
    <td class="userId">1</td>
    <td class="name"></td>
    <td class="contacto"></td>
    <td>
        <a data-mode='edit' class="action" href="javascript:void(0)"><i class="fa fa-pencil" aria-hidden="true"></i></a> |
        <a class="delete" href="javascript:void(0)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
    </td>
</script>
<script type="text/template" id="tr_tmplOD">
    <td class="userId">1</td>
    <td class="name"></td>
    <td>
        <a data-mode='edit' class="action" href="javascript:void(0)"><i class="fa fa-pencil" aria-hidden="true"></i></a> |
        <a class="delete" href="javascript:void(0)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
    </td>
</script>
<script>
    $(document).ready(function () {
        showAlert();
        $('#fechaSolicitud').datepicker();
        $('#fechaAtencion').datepicker();
        $('#div_fch').hide();
        $("#responsable").hide();
        $("#contenidoAD").hide();
        $("#pSedatu").hide();
        $("#pExterno").hide();
        $("#accesoD").hide();
        $("#orden").hide();
        $("#insumos").hide();
        $('.select2').select2({
            theme: "bootstrap-5",
            width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
            placeholder: $(this).data('placeholder'),
            closeOnSelect: false,
        });
        $('input[type=radio][name=radioAD]').change(function () {
            //console.log("entro")
            if (this.value == '1') {
                $("#contenidoAD").show();
            }
            else if (this.value == '2') {
                $("#contenidoAD").hide();
                var rows = $('#tableBodyAD tr');
                rows.remove();
            }
        });

        $("form").submit(function(e){
            var pS = [];
            var pE = [];
            var aD = [];
            var oD = [];
            $('#tableBodyS tr').each(function (i, n) {
                var $row = $(n);
                pS.push({
                    num: $row.find('td:eq(0)').text(),
                    name: $row.find('td:eq(1)').text()
                });
            });
            $("#pSedatu").val(JSON.stringify(pS))
            $('#tableBodyE tr').each(function (i, n) {
                var $row = $(n);
                pE.push({
                    num: $row.find('td:eq(0)').text(),
                    name: $row.find('td:eq(1)').text()
                });
            });
            $("#pExterno").val(JSON.stringify(pE))
            $('#tableBodyAD tr').each(function (i, n) {
                var $row = $(n);
                aD.push({
                    num: $row.find('td:eq(0)').text(),
                    name: $row.find('td:eq(1)').text(),
                    contacto: $row.find('td:eq(2)').text()
                });
            });
            $("#accesoD").val(JSON.stringify(aD))
            $('#tableBodyOD tr').each(function (i, n) {
                var $row = $(n);
                oD.push({
                    num: $row.find('td:eq(0)').text(),
                    orden: $row.find('td:eq(1)').text()
                });
            });
            $("#orden").val(JSON.stringify(oD))
            var chkIns = [];
            $('.chkIns').each(function (index, obj) {
                var $this = $(this);

                // check if the checkbox is checked
                if ($this.is(":checked")) {
                    chkIns.push($this.val())
                }
            });
            $("#insumos").val(chkIns);
            // Get selected values
            const slct = $("#slctResponsable").select2('data');
            const selectedValues = slct.map(x => x.text).join(', ');
            $("#responsable").val(selectedValues)
            //e.preventDefault();
        });
        $('#addRowS').on('click', function () {
            var trHtml = $('#tr_tmpl').html();
            var tr = $('<tr>' + trHtml + '</tr>');
            $('#tableBodyS').append(tr);

            tr.find('a.delete').on('click', function () {
                tr.remove();
                reIndex();
            });

            reIndex();

            function reIndex() {
                var rows = $('#tableBodyS tr');
                rows.each(function (i, row) {
                    $(row).find('.userId').html(i + 1);
                });
            }

            var action = $(tr).find('.action');

            action.on('click', function () {
                onActionHandler();
            })

            function onActionHandler() {
                var name = $(tr).find('.name');
                var mode = action.attr('data-mode');
                if (mode == 'update') {
                    action.attr('data-mode', 'edit');
                    action.html('<i class="fa fa-pencil" aria-hidden="true"></i>');

                    // update name
                    name.text($(tr).find('.name input').val());
                }
                else {
                    action.attr('data-mode', 'update');
                    action.html('<i class="fa fa-check" aria-hidden="true"></i>');

                    //edit name
                    var name_val = name.text();
                    var name_input = name.html('<input type="text" value="' + name_val + '" />');

                }
            }
        });
        $('#addRowE').on('click', function () {
            var trHtml = $('#tr_tmpl').html();
            var tr = $('<tr>' + trHtml + '</tr>');
            $('#tableBodyE').append(tr);

            tr.find('a.delete').on('click', function () {
                tr.remove();
                reIndex();
            });

            reIndex();

            function reIndex() {
                var rows = $('#tableBodyE tr');
                rows.each(function (i, row) {
                    $(row).find('.userId').html(i + 1);
                });
            }

            var action = $(tr).find('.action');

            action.on('click', function () {
                onActionHandler();
            })

            function onActionHandler() {
                var name = $(tr).find('.name');
                var mode = action.attr('data-mode');
                if (mode == 'update') {
                    action.attr('data-mode', 'edit');
                    action.html('<i class="fa fa-pencil" aria-hidden="true"></i>');

                    // update name
                    name.text($(tr).find('.name input').val());
                }
                else {
                    action.attr('data-mode', 'update');
                    action.html('<i class="fa fa-check" aria-hidden="true"></i>');

                    //edit name
                    var name_val = name.text();
                    var name_input = name.html('<input type="text" value="' + name_val + '" />');

                }
            }
        });
        $('#addRowAD').on('click', function () {
            var trHtml = $('#tr_tmplAD').html();
            var tr = $('<tr>' + trHtml + '</tr>');
            $('#tableBodyAD').append(tr);

            tr.find('a.delete').on('click', function () {
                tr.remove();
                reIndex();
            });

            reIndex();

            function reIndex() {
                var rows = $('#tableBodyAD tr');
                rows.each(function (i, row) {
                    $(row).find('.userId').html(i + 1);
                });
            }

            var action = $(tr).find('.action');

            action.on('click', function () {
                onActionHandler();
            })

            function onActionHandler() {
                var name = $(tr).find('.name');
                var cont = $(tr).find('.contacto');
                var mode = action.attr('data-mode');
                if (mode == 'update') {
                    action.attr('data-mode', 'edit');
                    action.html('<i class="fa fa-pencil" aria-hidden="true"></i>');

                    // update name
                    name.text($(tr).find('.name input').val());
                    // update contacto
                    cont.text($(tr).find('.contacto input').val());
                }
                else {
                    action.attr('data-mode', 'update');
                    action.html('<i class="fa fa-check" aria-hidden="true"></i>');

                    //edit name
                    var name_val = name.text();
                    var name_input = name.html('<input type="text" value="' + name_val + '" />');

                    //edit contacto
                    var cont_val = cont.text();
                    var cont_input = cont.html('<input type="text" value="' + cont_val + '" />');

                }
            }
        });
        $('#addRowOD').on('click', function () {
            var trHtml = $('#tr_tmplOD').html();
            var tr = $('<tr>' + trHtml + '</tr>');
            $('#tableBodyOD').append(tr);

            tr.find('a.delete').on('click', function () {
                tr.remove();
                reIndex();
            });

            reIndex();

            function reIndex() {
                var rows = $('#tableBodyOD tr');
                rows.each(function (i, row) {
                    $(row).find('.userId').html(i + 1);
                });
            }

            var action = $(tr).find('.action');

            action.on('click', function () {
                onActionHandler();
            })

            function onActionHandler() {
                var name = $(tr).find('.name');
                var mode = action.attr('data-mode');
                if (mode == 'update') {
                    action.attr('data-mode', 'edit');
                    action.html('<i class="fa fa-pencil" aria-hidden="true"></i>');

                    // update name
                    name.text($(tr).find('.name input').val());
                }
                else {
                    action.attr('data-mode', 'update');
                    action.html('<i class="fa fa-check" aria-hidden="true"></i>');

                    //edit name
                    var name_val = name.text();
                    var name_input = name.html('<input type="text" value="' + name_val + '" />');
                }
            }
        });
    });

    function showAlert() {

        setTimeout(function () {
            $("#alerta").fadeOut(1500);

        }, 6000);


        setTimeout(function () {

            $("#alerta").remove();
        }, 12000);

    }
    
</script>