@model ConaviWeb.Model.Minuta.Reunion
@{
    Layout = "_LayoutSedatu";
    ViewBag.Title = "Captura";

}
<h4>Captura Reunión</h4>
<hr class="red">
<div class="form-group col-md-12">
    @Html.Raw(@ViewBag.Alert)
</div>
<form id="formCat" method="post" asp-action="CrearCaptura">
    <div class="alert alert-danger" asp-validation-summary="ModelOnly"><button class="close" data-dismiss="alert" aria-hidden="true">&times;</button></div>
    <div class="row mb-3 mb-3">
        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label" for="sector">Sector</label>
                <select class="form-control" id="sector" name="sector" asp-items="@(new SelectList((System.Collections.IEnumerable)ViewData["Sector"], "Clave" , "Descripcion" ))" required="">
                    <option value="">--- Seleccione ---</option>
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label" for="gestion">Gestión OS</label>
                <select class="form-control" id="gestion" name="gestion" asp-items="@(new SelectList((System.Collections.IEnumerable)ViewData["Gestion"], "Clave" , "Descripcion" ))" required="">
                    <option value="">--- Seleccione ---</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-4">
            <div class="form-group">
                <label class="form-label" for="entidadFed">Entidad</label>
                <select class="form-control" id="entidadFed" name="entidadFed" asp-items="@(new SelectList((System.Collections.IEnumerable)ViewData["Entidad"], "Clave" , "Descripcion" ))" onchange="getMun(this)" required="">
                    <option value="">--- Seleccione ---</option>
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="form-label" for="municipio">Municipio</label>
                <select class="form-control" id="municipio" name="municipio" required="">
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <label class="form-label" for="fechaSolicitud">Fecha de Solicitud</label>
            <div class="input-group">
                <div class="input-group-text"><i class="fa fa-calendar" aria-hidden="true"></i></div>
                <input type="text" id="fechaSolicitud" name="fechaSolicitud" class="form-control" autocomplete="off">
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label" for="asunto">Asunto</label>
                <textarea row mb-3s="3" class="form-control" id="asunto" name="asunto" required=""></textarea>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label" for="solicitante">Solicitante</label>
                <textarea row mb-3s="3" class="form-control" id="solicitante" name="solicitante" required=""></textarea>
            </div>
        </div>
    </div>
    <h5>Solicitante</h5>
    <hr class="red">
    <div class="row mb-3">
        <div class="col-md-4">
            <div class="form-group">
                <label class="form-label" for="nombreSol">Nombre</label>
                <input class="form-control" id="nombreSol" name="nombreSol" required="" type="text">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="form-label" for="cargoSol">Cargo</label>
                <input class="form-control" id="cargoSol" name="cargoSol" required="" type="text">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="form-label" for="dependenciaSol">Dependencia</label>
                <input class="form-control" id="dependenciaSol" name="dependenciaSol" required="" type="text">
            </div>
        </div>
    </div>
    <hr>
    <h5>Contacto</h5>
    <hr class="red">
    <div class="row mb-3">
        <div class="col-md-4">
            <div class="form-group">
                <label class="form-label" for="nombreCont">Nombre</label>
                <input class="form-control" id="nombreCont" name="nombreCont" required="" type="text">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="form-label" for="telefonoCont">Teléfono</label>
                <input class="form-control" id="telefonoCont" name="telefonoCont" required="" type="text">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="form-label" for="emailCont">Email</label>
                <input class="form-control" id="emailCont" name="emailCont" required="" type="email">
            </div>
        </div>
    </div>
    <hr class="red">
    <div class="row mb-3">
        <div class="col-md-12">
            <div class="form-group">
                <label class="form-label" for="antecedentes">Antecedentes</label>
                <textarea row mb-3s="3" class="form-control" id="antecedentes" name="antecedentes" required=""></textarea>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label" for="responsable">Responsable</label>
                <select class="form-control" id="responsable" name="responsable" asp-items="@(new SelectList((System.Collections.IEnumerable)ViewData["Responsable"], "Clave" , "Descripcion" ))" required="">
                    <option value="">--- Seleccione ---</option>
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <label class="form-label" for="fechaAtencion">Fecha de Atención</label>
            <div class="input-group">
                <div class="input-group-text"><i class="fa fa-calendar" aria-hidden="true"></i></div>
                <input type="text" id="fechaAtencion" name="fechaAtencion" class="form-control" autocomplete="off">
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-12">
            <div class="form-group">
                <label class="form-label" for="observaciones">Observaciones</label>
                <textarea row mb-3s="3" class="form-control" id="observaciones" name="observaciones" required=""></textarea>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label" for="idEstatus">Estatus</label>
                <select class="form-control" id="idEstatus" name="idEstatus" asp-items="@(new SelectList((System.Collections.IEnumerable)ViewData["Estatus"], "Clave" , "Descripcion" ))" required="">
                    <option value="">--- Seleccione ---</option>
                </select>
            </div>
        </div>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-outline-primary" type="submit" id="btnSubmit">Guardar</button>
    </div>


</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<script>
    $(document).ready(function () {
        showAlert();
        $('#fechaSolicitud').datepicker();
        $('#fechaAtencion').datepicker();
    });

    function showAlert() {

        setTimeout(function () {
            $("#alerta").fadeOut(1500);

        }, 6000);


        setTimeout(function () {

            $("#alerta").remove();
        }, 12000);

    }

    function getMun(obj) {
        var value = obj.value;
        $.post("/CapturaReunion/GetMunicipios", { clave: value }, function (data) {
            //debugger;
            MunicipioDropDown("#municipio", data);
        });
    }
    function MunicipioDropDown(dropDownId, list, selectedId) {
        $(dropDownId).empty();
        $(dropDownId).append("<option value=''>--- Seleccione ---</option>")
        $.each(list, function (index, row) {
            $(dropDownId).append("<option value='" + row.clave + "'>" + row.descripcion + "</option>")
        });
    }
</script>