@{
    Layout = "_LayoutSedatu";
    var reunion = ViewData["Reunion"] as ConaviWeb.Model.Minuta.ReunionResponse;
    ViewBag.Title = "Detalle";
}

<h4>Información de la Reunión</h4>
<hr class="red" />
<div class="row">
    <div class="col-sm-12 col-md-12">

        <div class="row form-group">
            <div class="col-sm-12 col-md-6">
                <span>

                    <strong>
                        Número de Reunión:
                    </strong> @reunion.Id
                </span>
            </div>
            <div class="col-sm-12 col-md-6">
                <span><strong>Sector:</strong> @reunion.Sector</span>
            </div>
        </div>


        <div class="row form-group">
            <div class="col-sm-12 col-md-6">
                <span><strong>Entidad Federativa:</strong> @reunion.EntidadFed</span>
            </div>
            <div class="col-sm-12 col-md-6">
                <span><strong>Municipio / Alcaldía:</strong> @reunion.Municipio</span>
            </div>
        </div>


        <div class="row form-group">
            <div class="col-sm-12 col-md-6">
                <span>
                    <strong>
                        Fecha Solicitud:
                    </strong> @reunion.FechaSolicitud
                </span>
            </div>
            <div class="col-sm-12 col-md-6">
                <span><strong>Fecha Atención:</strong> @reunion.FechaAtencion</span>

            </div>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <strong>Asunto:</strong>
            <p>@reunion.Asunto</p>
        </div>
    </div>
</div>
<hr />
<div class="row form-group">
    <div class="col-sm-12 col-md-6">
            <strong>
                Solicitante:
            </strong> 
            <p>Nombre: @reunion.NombreSol</p>
            <p>Telefono: @reunion.CargoSol</p>
            <p>Email: @reunion.DependenciaSol</p>
    </div>
    <div class="col-sm-12 col-md-6">
        <strong>Contacto:</strong>
        <p>Nombre: @reunion.NombreCont</p>
        <p>Telefono: @reunion.TelefonoCont</p>
        <p>Email: @reunion.EmailCont</p>

    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <strong>Antecedentes:</strong>
            <p>@reunion.Antecedentes</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <strong for="acuerdo">Observaciones:</strong>
            <p>@reunion.Observaciones</p>
        </div>
    </div>
</div>
@*<hr class="red" />
<strong>Acuerdos:</strong>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Reunión</th>
            <th>Responsable</th>
            <th>Fecha Termino</th>
            <th>Descripción</th>
            <th>Gestión</th>
            <th>Estatus</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var acuerdo in reunion.Acuerdos)
        {
            <tr>
                <td>@acuerdo.IdReunion</td>
                <td>@acuerdo.Responsable</td>
                <td>@acuerdo.Fecha_termino</td>
                <td>@acuerdo.Descripcion</td>
                <td>@acuerdo.Gestion</td>
                <td>@acuerdo.Estatus</td>
            </tr>
        }
    </tbody>
</table>*@
<hr />
<div class="row form-group">
    <div class="col-sm-12 col-md-6">
        <span>
            <strong>
                Responsable:
            </strong> @reunion.Responsable
        </span>
    </div>
    <div class="col-sm-12 col-md-6">
        <span><strong>Gestion:</strong> @reunion.Gestion</span>

    </div>
</div>
<hr />
<div class="row form-group">
    <div class="col-md-12">
        <span>
            <strong>
                Estatus:
            </strong> @reunion.Estatus
        </span>
    </div>
</div>
