@{
    ViewData["Title"] = "Formato de homologación";
}
<div class="row">
    <div class="col-md-12" id="alertAjax">
        @Html.Raw(@ViewBag.Alert)
    </div>
</div>
<div id="general">
    <div class="row">
        <div class="col-md-12 center-block">
            <img src="../img/encab2021.png" class="img-responsive" />
        </div>
        @*<div class="col-md-7 text-right">
                <label>
                    SUBDIRECCIÓN GENERAL DE ADMINSTRACIÓN Y FINANCIAMIENTO<br />
                    COORDINACIÓN GENERAL DE ADMINISTRACIÓN<br />
                    DIRECCIÓN DE ADMINISTRACIÓN DE RECURSOS<br />
                    DEPARTAMENTO DE UNIDADES DOCUMENTALES
                </label>
            </div>*@
    </div>
    <br />
    <div class="row" style="background-color: #9D2449; color: white;">
        <div class="col-md-12 text-center">
            <label>
                FORMATO DE HOMOLOGACIÓN DE IDENTIFICACIÓN DE ELEMENTOS EN EL ENTORNO A LOS PREDIOS DE ADQUISICIÓN
            </label>
        </div>
    </div>
    <div class="row form-group" style="background-color: #D4C19C;">
        <div class="col-md-12 text-center">
            <label>DATOS DEL PREDIO</label>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-3">
            <label for="fecha_recorrido">Fecha de recorrido:</label>
        </div>
        <div class="col-md-9 datepicker-group">
            <input id="fecha_recorrido" class="form-control" />
            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-3">
            <label>Domicilio:</label>
        </div>
        <div class="col-md-6">
            <input class="form-control" id="domicilio" />
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12">
                    <label>Coordenadas geográficas</label>
                </div>
                <div class="col-md-2">
                    <label>N</label>
                </div>
                <div class="col-md-4">
                    <input class="form-control" type="text" id="c_norte" />
                </div>
                <div class="col-md-2">
                    <label>O</label>
                </div>
                <div class="col-md-4">
                    <input class="form-control" type="text" id="c_oeste" />
                </div>
            </div>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-4">
            <label>Estado:</label>
            @*<label class="form-control">Todas los estados</label>*@
            <select id="slctEstados" class="form-control" asp-items="@ViewBag.EstadoCatalogo" required onchange="getMunicipios(this.value)">
                <option value="">--Seleccione--</option>
            </select>
        </div>
        <div class="col-md-4">
            <label>Municipio:</label>
            <select id="slctMunicipios" class="form-control" required onchange="getLocalidades(this.value)">
                <option value="">--Seleccione--</option>
            </select>
        </div>
        <div class="col-md-4">
            <label>Localidad:</label>
            <select id="slctLocalidades" class="form-control" required >
                <option value="">--Seleccione--</option>
            </select>
        </div>
    </div>
    <div class="row" style="background-color: #D4C19C;">
        <div class="col-md-12 text-center">
            <label>CARACTERÍSTICAS DEL PREDIO</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <label>Seleccione aquello que cumpla con las características observadas</label>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12">
                    <label>Predio</label>
                </div>
                <div class="col-md-12">
                    <div class="radio">
                        <label><input type="radio" name="predio" class="radio" /> Lotificado</label>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="radio">
                        <label><input type="radio" name="predio" class="radio" /> En breña</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12">
                    <label>Localización</label>
                </div>
                <div class="col-md-12">
                    <div class="radio">
                        <label><input type="radio" name="localizacion" class="radio" /> Dentro de la mancha</label>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="radio">
                        <label><input type="radio" name="localizacion" class="radio" /> En la periferia</label>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="radio">
                        <label><input type="radio" name="localizacion" class="radio" /> Fuera de la mancha urbana</label>
                    </div>
                    <div class="col-md-12">
                        <label>Distancia (m)<input type="text" class="form-control" /></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12">
                    <label>Acceso</label>
                </div>
                <div class="col-md-12">
                    <div class="radio">
                        <label><input type="radio" name="acceso" class="radio" /> De terracería</label>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="radio">
                        <label><input type="radio" name="acceso" class="radio" /> Pavimentado</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12">
                    <label>Otros</label>
                </div>
                <div class="col-md-12">
                    <div class="radio">
                        <label><input type="radio" name="otros" class="radio" /> Infraestructura dentro del predio (agua, drenaje, alcantarillado, etc.)</label>
                    </div>
                    <div class="col-md-12">
                        <label>¿Cuáles?<input type="text" class="form-control" /></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-12 text-center">
            <label class="control-label">Conexión a servicios</label>
        </div>
    </div>
    <hr />
    <div class="row form-group">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12 text-center">
                    <label class="control-label">Electricidad</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="radio"><label><input type="radio" name="electricidad" class="radio" /> Conexión</label></div>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Distancia(m)</label>
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12 text-center">
                    <label class="control-label">Drenaje</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="radio"><label><input type="radio" name="drenaje" class="radio" /> Conexión a red municipal</label></div>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Distancia(m)</label>
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="radio"><label><input type="radio" name="drenaje" class="radio" /> Fosa séptica</label></div>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Distancia(m)</label>
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="radio"><label><input type="radio" name="drenaje" class="radio" /> Planta de tratamiento</label></div>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Distancia(m)</label>
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12 text-center">
                    <label class="control-label">Agua potable</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="radio"><label><input type="radio" name="agua_potable" class="radio" /> Pozo</label></div>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Distancia(m)</label>
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="radio"><label><input type="radio" name="agua_potable" class="radio" /> Conexión a red municipal</label></div>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Distancia(m)</label>
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="radio"><label><input type="radio" name="agua_potable" class="radio" /> Tanque elevado</label></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="radio"><label><input type="radio" name="agua_potable" class="radio" /> Tandeo</label></div>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Distancia(m)</label>
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="background-color: #D4C19C;">
        <div class="col-md-12 text-center">
            <label>ELEMENTOS DEL ENTORNO (500 m)</label>
        </div>
    </div>
    <div class="row form-group" style="background-color: #ECE4D4;">
        <div class="col-md-12 text-center">
            <label>ELEMENTOS CONSTRUCTIVOS</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>Número de niveles construidos en el entorno</label>
            <input type="text" class="form-control" />
        </div>
        <div class="col-md-6 text-center">
            <label>Materiales usados en las viviendas</label>
            <div class="row">
                <div class="col-md-6">
                    <label>Naturales</label>
                    <input type="text" class="form-control" />
                </div>
                <div class="col-md-6">
                    <label>Industrializados</label>
                    <input type="text" class="form-control" />
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="background-color: #ECE4D4;">
        <div class="col-md-12 text-center">
            <label>VIALIDADES Y ACCESOS</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 text-center">
            <label>Vialidades de conexión al predio</label>
        </div>
        <div class="col-md-3 text-center">
            Distancia (m)
        </div>
        <div class="col-md-3 text-center">
            Condiciones
        </div>
        <div class="col-md-3 text-center">
            Materiales
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="radio"><label><input type="radio" name="vialidad_predio" /> Si</label></div>
        </div>
        <div class="col-md-3">
            &nbsp;
        </div>
        <div class="col-md-1">
            Buena
        </div>
        <div class="col-md-1">
            Mala
        </div>
        <div class="col-md-1">
            Regular
        </div>
        <div class="col-md-3">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">

        </div>
        <div class="col-md-2">
            <div class="radio"><label><input type="radio" name="tipo_vialidad" /> Federal</label></div>
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" id="vialidad_distancia_federal" />
        </div>
        <div class="col-md-1 text-center">
            <div class="radio"><input type="radio" name="vialidad_condiciones_federal" /></div>
        </div>
        <div class="col-md-1 text-center">
            <div class="radio"><input type="radio" name="vialidad_condiciones_federal" /></div>
        </div>
        <div class="col-md-1 text-center">
            <div class="radio"><input type="radio" name="vialidad_condiciones_federal" /></div>
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" id="vialidad_federal_materiales" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            &nbsp;
        </div>
        <div class="col-md-2">
            <div class="radio"><label><input type="radio" name="tipo_vialidad" /> Municipal</label></div>
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" id="vialidad_distancia_municipal" />
        </div>
        <div class="col-md-1 text-center">
            <div class="radio"><input type="radio" name="vialidad_condiciones_municipal" /></div>
        </div>
        <div class="col-md-1 text-center">
            <div class="radio"><input type="radio" name="vialidad_condiciones_municipal" /></div>
        </div>
        <div class="col-md-1 text-center">
            <div class="radio"><input type="radio" name="vialidad_condiciones_municipal" /></div>
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" id="vialidad_municipal_materiales" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <label>Tipo</label>
        </div>
        <div class="col-md-2">
            <div class="radio"><label><input type="radio" name="tipo_vialidad" /> Primaria</label></div>
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" id="vialidad_distancia_primaria" />
        </div>
        <div class="col-md-1 text-center">
            <div class="radio"><input type="radio" name="vialidad_condiciones_primaria" /></div>
        </div>
        <div class="col-md-1 text-center">
            <div class="radio"><input type="radio" name="vialidad_condiciones_primaria" /></div>
        </div>
        <div class="col-md-1 text-center">
            <div class="radio"><input type="radio" name="vialidad_condiciones_primaria" /></div>
        </div>
        <div class="col-md-3">
            <input type="text" id="vialidad_primaria_materiales" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            &nbsp;
        </div>
        <div class="col-md-2">
            <div class="radio"><label><input type="radio" name="tipo_vialidad" /> Secundaria</label></div>
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" id="vialidad_distancia_secundaria" />
        </div>
        <div class="col-md-1 text-center">
            <div class="radio"><input type="radio" name="vialidad_condiciones_secundaria" /></div>
        </div>
        <div class="col-md-1 text-center">
            <div class="radio"><input type="radio" name="vialidad_condiciones_secundaria" /></div>
        </div>
        <div class="col-md-1 text-center">
            <div class="radio"><input type="radio" name="vialidad_condiciones_secundaria" /></div>
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" id="vialidad_secundaria_materiales" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            &nbsp;
        </div>
        <div class="col-md-2">
            <div class="radio"><label><input type="radio" name="tipo_vialidad" /> Terciaria</label></div>
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" id="vialidad_distancia_terciaria" />
        </div>
        <div class="col-md-1 text-center">
            <div class="radio"><input type="radio" name="vialidad_condiciones_terciaria" /></div>
        </div>
        <div class="col-md-1 text-center">
            <div class="radio"><input type="radio" name="vialidad_condiciones_terciaria" /></div>
        </div>
        <div class="col-md-1 text-center">
            <div class="radio"><input type="radio" name="vialidad_condiciones_terciaria" /></div>
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" id="vialidad_terciaria_materiales" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <div class="radio"><label><input type="radio" name="vialidad_predio" /> No</label></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 text-center">
            <label>
                Acceso al predio
            </label>
        </div>
        <div class="col-md-3 text-center">
            Distancia (m)
        </div>
        <div class="col-md-3 text-center">
            Condiciones
        </div>
        <div class="col-md-3 text-center">
            Materiales
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="radio"><label><input type="radio" name="acceso_predio" /> Si</label></div>
        </div>
        <div class="col-md-3">
            &nbsp;
        </div>
        <div class="col-md-1">
            Buena
        </div>
        <div class="col-md-1">
            Mala
        </div>
        <div class="col-md-1">
            Regular
        </div>
        <div class="col-md-3">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">

        </div>
        <div class="col-md-2">
            <div class="radio"><label><input type="radio" name="tipo_acceso" /> Federal</label></div>
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" id="acceso_distancia_federal" />
        </div>
        <div class="col-md-1 text-center">
            <div class="radio"><input type="radio" name="acceso_condiciones_federal" /></div>
        </div>
        <div class="col-md-1 text-center">
            <div class="radio"><input type="radio" name="acceso_condiciones_federal" /></div>
        </div>
        <div class="col-md-1 text-center">
            <div class="radio"><input type="radio" name="acceso_condiciones_federal" /></div>
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" id="acceso_federal_materiales" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            &nbsp;
        </div>
        <div class="col-md-2">
            <div class="radio"><label><input type="radio" name="tipo_acceso" /> Municipal</label></div>
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" id="acceso_distancia_municipal" />
        </div>
        <div class="col-md-1 text-center">
            <div class="radio"><input type="radio" name="acceso_condiciones_municipal" /></div>
        </div>
        <div class="col-md-1 text-center">
            <div class="radio"><input type="radio" name="acceso_condiciones_municipal" /></div>
        </div>
        <div class="col-md-1 text-center">
            <div class="radio"><input type="radio" name="acceso_condiciones_municipal" /></div>
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" id="acceso_municipal_materiales" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <label>Tipo</label>
        </div>
        <div class="col-md-2">
            <div class="radio"><label><input type="radio" name="tipo_acceso" /> Primaria</label></div>
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" id="acceso_distancia_primaria" />
        </div>
        <div class="col-md-1 text-center">
            <div class="radio"><input type="radio" name="acceso_condiciones_primaria" /></div>
        </div>
        <div class="col-md-1 text-center">
            <div class="radio"><input type="radio" name="acceso_condiciones_primaria" /></div>
        </div>
        <div class="col-md-1 text-center">
            <div class="radio"><input type="radio" name="acceso_condiciones_primaria" /></div>
        </div>
        <div class="col-md-3">
            <input type="text" id="acceso_primaria_materiales" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            &nbsp;
        </div>
        <div class="col-md-2">
            <div class="radio"><label><input type="radio" name="tipo_acceso" /> Secundaria</label></div>
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" id="acceso_distancia_secundaria" />
        </div>
        <div class="col-md-1 text-center">
            <div class="radio"><input type="radio" name="acceso_condiciones_secundaria" /></div>
        </div>
        <div class="col-md-1 text-center">
            <div class="radio"><input type="radio" name="acceso_condiciones_secundaria" /></div>
        </div>
        <div class="col-md-1 text-center">
            <div class="radio"><input type="radio" name="acceso_condiciones_secundaria" /></div>
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" id="acceso_secundaria_materiales" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            &nbsp;
        </div>
        <div class="col-md-2">
            <div class="radio"><label><input type="radio" name="tipo_acceso" /> Terciaria</label></div>
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" id="acceso_distancia_terciaria" />
        </div>
        <div class="col-md-1 text-center">
            <div class="radio"><input type="radio" name="acceso_condiciones_terciaria" /></div>
        </div>
        <div class="col-md-1 text-center">
            <div class="radio"><input type="radio" name="acceso_condiciones_terciaria" /></div>
        </div>
        <div class="col-md-1 text-center">
            <div class="radio"><input type="radio" name="acceso_condiciones_terciaria" /></div>
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" id="acceso_terciaria_materiales" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <div class="radio"><label><input type="radio" name="acceso_predio" /> No</label></div>
        </div>
    </div>
    <div class="row" style="background-color: #ECE4D4;">
        <div class="col-md-12 text-center">
            <label>TRANSPORTE PÚBLICO</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 text-center">
            <label>
                Para acceder al transporte público:
            </label>
        </div>
        <div class="col-md-4 text-center">
            Distancia (m)
        </div>
        <div class="col-md-4 text-center">
            Condiciones
            <div class="row">
                <div class="col-md-4">
                    Buenas
                </div>
                <div class="col-md-4">
                    Malas
                </div>
                <div class="col-md-4">
                    Regulares
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label>Acceso Inmediato</label>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" id="transporte_inmediato_distancia" />
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-4 text-center">
                    <div class="radio"><input type="radio" name="transporte_inmediato_condiciones" /></div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="radio"><input type="radio" name="transporte_inmediato_condiciones" /></div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="radio"><input type="radio" name="transporte_inmediato_condiciones" /></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label>A una distancia cómoda</label>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" id="transporte_comoda_distancia" />
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-4 text-center">
                    <div class="radio"><input type="radio" name="transporte_comoda_condiciones" /></div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="radio"><input type="radio" name="transporte_comoda_condiciones" /></div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="radio"><input type="radio" name="transporte_comoda_condiciones" /></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label>Lejano</label>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" id="transporte_lejano_distancia" />
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-4 text-center">
                    <div class="radio"><input type="radio" name="transporte_lejano_condiciones" /></div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="radio"><input type="radio" name="transporte_lejano_condiciones" /></div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="radio"><input type="radio" name="transporte_lejano_condiciones" /></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 text-center">
            <label>
                Estructura
            </label>
        </div>
        <div class="col-md-4 text-center">
            Distancia (m)
        </div>
        <div class="col-md-4 text-center">
            Condiciones
            <div class="row">
                <div class="col-md-4">
                    Buenas
                </div>
                <div class="col-md-4">
                    Malas
                </div>
                <div class="col-md-4">
                    Regulares
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label>Parada del sistema de transporte</label>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" id="estructura_parada_distancia" />
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-4 text-center">
                    <div class="radio"><input type="radio" name="estructura_parada_condiciones" /></div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="radio"><input type="radio" name="estructura_parada_condiciones" /></div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="radio"><input type="radio" name="estructura_parada_condiciones" /></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label>Estación o Cetram</label>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" id="estructura_estacion_distancia" />
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-4 text-center">
                    <div class="radio"><input type="radio" name="estructura_estacion_condiciones" /></div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="radio"><input type="radio" name="estructura_estacion_condiciones" /></div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="radio"><input type="radio" name="estructura_estacion_condiciones" /></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label>Sitio de taxis</label>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" id="estructura_sitio_distancia" />
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-4 text-center">
                    <div class="radio"><input type="radio" name="estructura_sitio_condiciones" /></div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="radio"><input type="radio" name="estructura_sitio_condiciones" /></div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="radio"><input type="radio" name="estructura_sitio_condiciones" /></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <label>Otro</label>
        </div>
        <div class="col-md-3">
            <input type="text" id="estructura_otro" class="form-control" />
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" id="estructura_sitio_distancia" />
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-4 text-center">
                    <div class="radio"><input type="radio" name="estructura_sitio_condiciones" /></div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="radio"><input type="radio" name="estructura_sitio_condiciones" /></div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="radio"><input type="radio" name="estructura_sitio_condiciones" /></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="background-color: #ECE4D4;">
        <div class="col-md-12 text-center">
            <label>EQUIPAMIENTO URBANO Y SERVICIOS</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 text-center">
            Equipamientos Urbanos identificados en un radio de 500 m (Inmuebles administrados por el Gobierno)
        </div>
        <div class="col-md-6 text-center">
            Servicios Urbanos identificados en un radio de 500 m (Inmuebles administrados por particulares o privados)
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            &nbsp;
        </div>
        <div class="col-md-2 text-center">
            Nivel
        </div>
        <div class="col-md-2 text-center">
            Distancia(m)
        </div>
        <div class="col-md-2">
            &nbsp;
        </div>
        <div class="col-md-2 text-center">
            Nivel
        </div>
        <div class="col-md-2 text-center">
            Distancia(m)
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            Educación
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" id="equipamiento_educacion_nivel" />
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" id="equipamiento_educacion_distancia" />
        </div>
        <div class="col-md-2">
            Educación
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" id="servicio_educacion_nivel" />
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" id="servicio_educacion_distancia" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            Salud
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" id="equipamiento_salud_nivel" />
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" id="equipamiento_salud_distancia" />
        </div>
        <div class="col-md-2">
            Salud
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" id="servicio_salud_nivel" />
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" id="servicio_salud_distancia" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            Recreación
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" id="equipamiento_recreacion_nivel" />
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" id="equipamiento_recreacion_distancia" />
        </div>
        <div class="col-md-2">
            Recreación
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" id="servicio_recreacion_nivel" />
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" id="servicio_recreacion_distancia" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            Cultura
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" id="equipamiento_cultura_nivel" />
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" id="equipamiento_cultura_distancia" />
        </div>
        <div class="col-md-2">
            Cultura
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" id="servicio_cultura_nivel" />
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" id="servicio_cultura_distancia" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            Servicios urbanos
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" id="equipamiento_servurb_nivel" />
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" id="equipamiento_servurb_distancia" />
        </div>
        <div class="col-md-2">
            Otro <input type="text" class="form-control" id="servicio_otro" />
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" id="servicio_otro_nivel" />
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" id="servicio_otro_distancia" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            Asistencia social
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" id="equipamiento_asistencia_nivel" />
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" id="equipamiento_asistencia_distancia" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            Otro <input type="text" class="form-control" id="equipamiento_otro" />
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" id="equipamiento_otro_nivel" />
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" id="equipamiento_otro_distancia" />
        </div>
    </div>
    <div class="row" style="background-color: #D4C19C;">
        <div class="col-md-12 text-center">
            <label>UBICACIÓN Y  DESCRIPCIÓN DEL ENTORNO FÍSICO DEL PREDIO</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            Seleccione aquello que cumpla con las características observadas
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 text-center">
            <label>Topografía del terreno</label>
        </div>
        <div class="col-md-2 text-center">
            <label>Hidrografía</label>
        </div>
        <div class="col-md-3 text-center">
            <label>Restricciones federales</label>
        </div>
        <div class="col-md-1">
            <label>Distancia (m)</label>
        </div>
        <div class="col-md-2 text-center">
            <label>Características del suelo</label>
        </div>
        <div class="col-md-2 text-center">
            <label>Otras observaciones</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="checkbox"><label><input type="checkbox" /> Pendientes suaves</label></div>
        </div>
        <div class="col-md-2">
            <div class="checkbox"><label><input type="checkbox" /> Ríos</label></div>
        </div>
        <div class="col-md-3">
            <div class="checkbox"><label><input type="checkbox" /> Ríos</label></div>
        </div>
        <div class="col-md-1">
            <input type="text" class="form-control" id="resfed_rios_distancia" />
        </div>
        <div class="col-md-2">
            <div class="checkbox"><label><input type="checkbox" /> Rocas</label></div>
        </div>
        <div class="col-md-2">
            <div class="checkbox"><label><input type="checkbox" /> Fracturas en el terreno</label></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="checkbox"><label><input type="checkbox" /> Pendientes inclinadas</label></div>
        </div>
        <div class="col-md-2">
            <div class="checkbox"><label><input type="checkbox" /> Escurrimientos</label></div>
        </div>
        <div class="col-md-3">
            <div class="checkbox"><label><input type="checkbox" /> Corrientes intermitentes</label></div>
        </div>
        <div class="col-md-1">
            <input type="text" class="form-control" id="resfed_rios_distancia" />
        </div>
        <div class="col-md-2">
            <div class="checkbox"><label><input type="checkbox" /> Arenas y gravas</label></div>
        </div>
        <div class="col-md-2">
            <div class="checkbox"><label><input type="checkbox" /> Hundimientos</label></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="checkbox"><label><input type="checkbox" /> Pendientes abruptas</label></div>
        </div>
        <div class="col-md-2">
            <div class="checkbox"><label><input type="checkbox" /> Arroyos</label></div>
        </div>
        <div class="col-md-3">
            <div class="checkbox"><label><input type="checkbox" /> Cuerpos de agua</label></div>
        </div>
        <div class="col-md-1">
            <input type="text" class="form-control" id="resfed_cuerposagua_distancia" />
        </div>
        <div class="col-md-2">
            <div class="checkbox"><label><input type="checkbox" /> Limos y arcillas</label></div>
        </div>
        <div class="col-md-2">
            <div class="checkbox"><label><input type="checkbox" /> Inestabilidad de laderas</label></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="checkbox"><label><input type="checkbox" /> Planicies</label></div>
        </div>
        <div class="col-md-2">
            <div class="checkbox"><label><input type="checkbox" /> Lagos</label></div>
        </div>
        <div class="col-md-3">
            <div class="checkbox"><label><input type="checkbox" /> Líneas de alta tensión</label></div>
        </div>
        <div class="col-md-1">
            <input type="text" class="form-control" id="resfed_lineasaltatension_distancia" />
        </div>
        <div class="col-md-2">
            <div class="checkbox"><label><input type="checkbox" /> Relleno de escombro</label></div>
        </div>
        <div class="col-md-2">
            <div class="checkbox"><label><input type="checkbox" /> Zonas inundables</label></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="checkbox"><label><input type="checkbox" /> Cortes de suelo </label></div>
        </div>
        <div class="col-md-2">
            <div class="checkbox"><label><input type="checkbox" /> Lagunas</label></div>
        </div>
        <div class="col-md-3">
            <div class="checkbox"><label><input type="checkbox" /> Vías ferreas</label></div>
        </div>
        <div class="col-md-1">
            <input type="text" class="form-control" id="resfed_viasferreas_distancia" />
        </div>
        <div class="col-md-2">
            <div class="checkbox"><label><input type="checkbox" /> Materia orgánica (capa vegetal)</label></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="checkbox"><label><input type="checkbox" /> Vegetación al interior</label></div>

        </div>
        <div class="col-md-2">
            <div class="checkbox"><label><input type="checkbox" /> Manantiales</label></div>
        </div>
        <div class="col-md-3">
            <div class="checkbox"><label><input type="checkbox" /> Carreteras</label></div>
        </div>
        <div class="col-md-1">
            <input type="text" class="form-control" id="resfed_carreteras_distancia" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="row">
                <div class="col-md-6">
                    <label>%Estrato arbóreo</label>
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" id="porc_arboreo" />

                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>%Estrato arbustivo</label>
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" id="porc_arbustivo" />
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="checkbox"><label><input type="checkbox" /> Acueducto</label></div>
        </div>
        <div class="col-md-3">
            <div class="checkbox"><label><input type="checkbox" /> Ductos</label></div>
        </div>
        <div class="col-md-1">
            <input type="text" class="form-control" id="resfed_ductos_distancia" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            &nbsp;
        </div>
        <div class="col-md-2">
            <div class="checkbox"><label><input type="checkbox" /> Canal</label></div>
        </div>
        <div class="col-md-3">
            <div class="checkbox"><label><input type="checkbox" /> Barrancas</label></div>
        </div>
        <div class="col-md-1">
            <input type="text" class="form-control" id="resfed_ductos_distancia" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            ¿Se considera que el predio es apto para el desarrollo de vivienda?
        </div>
        <div class="col-md-6">
            Porcentaje estimado de superficie utilizable del predio para desarrollo de vivienda
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="radio"><label><input type="radio" class="radio" name="predio_apto" /> Si</label></div>
        </div>
        <div class="col-md-3">
            <div class="radio"><label><input type="radio" class="radio" name="predio_apto" /> No</label></div>
        </div>
        <div class="col-md-6">
            <input type="text" class="form-control" id="porc_predio_utilizable" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            Condiciones: <input type="text" class="form-control" id="condiciones_predio_apto" />
        </div>
    </div>
    <div class="row" style="background-color: #D4C19C;">
        <div class="col-md-12 text-center">
            <label>OBSERVACIONES ADICIONALES QUE SE REQUIERA COMENTAR</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label>Archivo complementario:</label>
            <input type="file" class="form-control-file" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <textarea id="observaciones" class="form-control"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <label>Realizó recorrido (nombre completo)</label>
            <input type="text" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-default btn-sm form-control">Enviar</button>
        </div>
    </div>

    @*Fin del formulario para el alta de formato de homologación*@
    <hr />
</div>

<script src="https://framework-gb.cdn.gob.mx/assets/scripts/jquery-ui-datepicker.js"></script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#fecha_recorrido').datepicker({
                dateFormat: 'yy/mm/dd',
                changeYear: true
            });
        });
        function getMunicipios() {
            $.ajax({
                url: "@Url.Action("GetMunicipios", "Levantamiento")", // Url
                data: {
                    // Datos / Parámetros
                    cveedo: $("#slctEstados option:selected").val()
                },
                type: "post"  // Verbo HTTP
            }).done(function (result) {
                $("#slctMunicipios option:gt(0)").remove();
                $("#slctLocalidades option:gt(0)").remove();
                result.data.forEach(function (item, index, arr) {
                    $("#slctMunicipios").append("<option value = "+ item.clave +">"+ item.descripcion +"</option>");
                });
            });
        }
        function getLocalidades() {
            $.ajax({
                url: "@Url.Action("GetLocalidades", "Levantamiento")", // Url
                data: {
                    // Datos / Parámetros
                    cveedo: $("#slctEstados option:selected").val(),
                    cvemun: $("#slctMunicipios option:selected").val()
                },
                type: "post"  // Verbo HTTP
            }).done(function (result) {
                $("#slctLocalidades option:gt(0)").remove();
                result.data.forEach(function (item, index, arr) {
                    $("#slctLocalidades").append("<option value = "+ item.clave +">"+ item.descripcion +"</option>");
                });
            });
        }
    </script>
}