@model ConaviWeb.Model.Sisevive.Etiquetado
@{
   
    ViewBag.Title = "ContasSol";
}

            <div class="row">
                <div class="form-group col-md-4">
                    <div id="spinner" class="spinner-border text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <div id="alertAjax" class="form-group">
                        @Html.Raw(@ViewBag.Alert)
                    </div>
                </div>
                <div class="form-group col-md-4">
                    @*<a href="@Url.Action("GetAllBenef", "PevC2sr")"><i class="fa fa-file-pdf-o gold" style="font-size:25px;"></i></a>*@
                </div>
            </div>
           
<div id="divTable" class="form-group" style="display:none;">
    <form id="formTable">
        <table id="table" class="table" style="width: 100%">
            <thead>
                <tr style="font-size:15px;">
                    <th>
                        ID
                    </th>
                    <th>
                        FECHA
                    </th>
                    <th>
                        FOLIO
                    </th>
                    <th>
                        NOMBRE
                    </th>
                    <th>
                        ARCHIVO
                    </th>
                    <th>
                        VALIDAR
                    </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </form>
</div>
<div id="partial" class="row col-md-12 hidden">
    @{
        @await Html.PartialAsync("../RH/_SolicitudDetail")
    }
</div>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
    var table;
    var dataJSON;
        $(document).ready(function () {
            showAlert();
            $("#spinner").hide();
            //showAlert();
            //var tipo = $("#slctTipo option:selected").val();
            showTable();
            //console.log(dataJSON);

            /*$('#slctTipo').on('change', function () {
                console.log(this.value);
                showTable(this.value);
            });*/

            $('body').on('click', 'a', function (e) {

                if (this.className === "gold btn-action") {
                    let json = this.id.replace(/'/g, '"');
                    json = JSON.parse(json)

                    $.each(json, function (id, valor) {
                        //console.log(valor,id)
                        //console.log("$('#' ", id+").val("+valor+");");
                        //$("#" + id).attr("value", valor);
                        if (valor != null) {
                            console.log(id, ":", valor);
                            if (id == "id") {
                                $("#" + id).val(valor);
                            } else {
                                $("#" + id).text(valor);
                            }
                            
                        } else {
                            $("#" + id).text("");
                        }
                        //$("#" + id).attr("disabled", true);
                    });

                    $("#partial").removeClass("hidden");
                    scroll("partial");
                    ValidaVehiculo();
                    ValidaAvion();
                    ValidaCaptura();
                }


            });
        });

        function showTable() {

            $("#spinner").show();
            $("#divTable").show();
            table = $('#table').DataTable({
                "proccessing": true,
                "serverSide": false,
                "ajax": {
                    url: "@Url.Action("GetSolicitudes", "ContasSolicitud")",
                    //url: "/AdminSolicitud/GetSolicitudes",
                    type: 'GET',
                    headers: { 'RequestVerificationToken': $('@Html.AntiForgeryToken()').val() },
                    //success: function (data) { console.log(data) },
                    complete: function (data) {
                        $("#spinner").hide();
                        dataJSON = data.responseJSON.data;
                        //console.log(dataJSON);
                    }
                },
                "columnDefs": columns,
                "order": [[0, "desc"]],
                "autoWidth": true,
                "destroy": true,
                "scrollY": '700px',
                "scrollCollapse": true,
                "paging": true,
                "info": true,
                "buttons": ['excel'],
                "scrollX": true,
                "fixedColumns": true,
                "ordering": false,
                "language": {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    }
                }
            });
        }
        
        var columns = [

            { "name": "Id", "data": "id", "targets": 0},
            { "name": "Fecha", "data": "fechaSol", "targets": 1 },
            { "name": "Folio", "data": "folio", "targets": 2 },
            { "name": "Nombre", "data": "nombre", "targets": 3 },
            //{ "name": "Editar", "data": "id", "targets": 4 }, ///Agregue este campo

            /*{
                "targets": 8,
                "data": null,
                "render": function (data, type, row, meta) {
                    if (row.nombreArchInforme != null) {
                        return '<a href="../doc/Sisevive/' + row.idUserCarga + "/" + row.folio + "/" + row.nombreArchInforme + '" target="_blank"><i class="fa fa-file-pdf-o gold" style="font-size:25px;"></i></a>';
                    }
                    return null;
                },
                "sortable": false,
                "className": 'text-center'
            },*/
            {
                "targets": 4,
                "data": null,
                "render": function (data, type, row, meta) {
                    let json = JSON.stringify(row);
                    json = json.replace(/"/g, "'");


                    return '<a href="https://firmaelectronica.conavi.gob.mx:9090/doc/EFirma/Original/Recursos_Humanos/2403142022092115.pdf" target="_blank"><i class="fa fa-file-pdf-o gold" style="font-size:25px;"></i></a>';
                },
                "sortable": false,
                "className": 'text-center'
            },
            {
                "targets": 5,
                "data": null,
                "render": function (data, type, row, meta) {
                    if (row.estatus == 3) {
                        return '<a href="../ContasSolicitud/VoBoContas/' + row.id + '" data-toggle="tooltip" title="Visto Bueno"><i class="fa fa-check-square-o gold" style="font-size:25px;"></i></a>';
                    } else if (row.estatus == 4){
                        return '<small style="font-size:20px;">En proceso de pago</samll>';
                    } return "";
                },
                "sortable": false,
                "className": 'text-center'
            }
        ];

        function showAlert() {
            scroll("partialView");
            setTimeout(function () {

                $("#alerta").fadeOut(1500);

            }, 6000);


            setTimeout(function () {

                $("#alerta").remove();
            }, 12000);

        }

        function scroll(id) {
            try {
                let el = document.getElementById(id);
                el.scrollIntoView(true);
            } catch (e) { console.log(e) }
        }




        //Funciones mostrar/ocultar seccion vehicular o aerea

        function ValidaCaptura() {
            //console.log("entro Avion: ", $("#fecha salida").text());
            var linea = $('#linea_aerea').text();
            //console.log(salida);

            if (linea != "") {
                 console.log("mostrar ");
                $("#datosAvion").removeClass("hidden");
                $("#capturaAvion").addClass("hidden");
            } else {
                 console.log("ocultar ");
                $("#datosAvion").addClass("hidden");
                $("#capturaAvion").removeClass("hidden");
            }


        }
        function ValidaAvion() {
            //console.log("entro Avion: ", $("#fecha salida").text());
            var salida = $('#fecha_salida').text();
            var regreso = $('#fecha_regreso').text();
            var salidaav = $('#horario_salidaav').text();
            var regresoav = $('#horario_regresoav').text();
            //console.log(salida);

            if (salida != "01/01/0001 00:00:00" || regreso != "01/01/0001 00:00:00" || salidaav != "" || regresoav != "") {
               // console.log("mostrar ");
                $("#pasajesavion").removeClass("hidden");
            } else {
              // console.log("ocultar ");
                $("#pasajesavion").addClass("hidden");
            }


        }

        function ValidaVehiculo() {
            //console.log("entro vehiculo: ", $("#num_casetas").text());
            var casetas = $('#num_casetas').text();
            var combustible = $('#dotacion_combustible').text();
            var igastos = $('#importe_gastos').text();

            //alert(casetas);
            //alert("entro vehiculo: ", $("#num_casetas").html());
            if (casetas != "" || combustible != "" || igastos != "") {
                //console.log("mostrar ");
                $("#vehiculo").removeClass("hidden");
            } else {
                //console.log("ocultar ");
                $("#vehiculo").addClass("hidden");
            }
        }

    </script>
}
