@model ConaviWeb.Model.Sisevive.Etiquetado
@{

    ViewBag.Title = "Solicitudes";
}


<div class="row">
    <div class="form-group col-md-4">
        <div id="spinner" class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div class="form-group col-md-4">
        <div id="alertAjax" class="form-group">
            @Html.Raw(@ViewBag.Alert)
        </div>
    </div>
    <div class="form-group col-md-4">
        @*<a href="@Url.Action("GetAllBenef", "PevC2sr")"><i class="fa fa-file-pdf-o gold" style="font-size:25px;"></i></a>*@
    </div>
</div>

<div id="divTable" class="form-group" style="display:none;">
    <form id="formTable">
        <table id="table" class="table" style="width: 100%">
            <thead>
                <tr style="font-size:15px;">
                    <th>
                        ID
                    </th>
                    <th>
                        FECHA
                    </th>
                    <th>
                        # COMISIÓN
                    </th>
                    <th>
                        ESTATUS
                    </th>
                    <th>
                        ARCHIVO
                    </th>
                    <th>
                        EDITAR
                    </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </form>
</div>
<div id="partial" class="row col-md-12 hidden">
    @{
        @await Html.PartialAsync("../RH/_ComprobacionDetail")
    }
</div>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    var table;
    //var dataJSON;
        $(document).ready(function () {
            showAlert();
            $("#spinner").hide();
            //showAlert();
            //var tipo = $("#slctTipo option:selected").val();
            showTable();
            //console.log(dataJSON);

            /*$('#slctTipo').on('change', function () {
                console.log(this.value);
                showTable(this.value);
            });*/
            $('body').on('click', 'a', function (e) {
                //showTableC();
                if (this.className === "gold btn-action") {
                    let json = this.id.replace(/'/g, '"');
                    json = JSON.parse(json);
                    getComprobaciones(json.folio);
                    var idUser;
                    //console.log(json);
                    $.each(json, function (id, valor) {
                        //console.log(valor,id)
                        //console.log("$('#' ", id+").val("+valor+");");
                        //$("#" + id).attr("value", valor);

                        if (valor != null) {
                            //console.log(id, ":", valor);
                            if (id == "id") {
                                $("#" + id).val(valor);
                            } else if (id == "idUsuario") {
                                idUser = valor;
                                //console.log("usuario: ", idUser);
                            } else if (id == "traza_ruta") {
                                //console.log("usuario: ", idUser);
                                let foo = valor.indexOf("_")
                                $("#" + id).attr("src", "/doc/RH/SolicitudViaticos/" + valor.substring(0, foo) + "/" + valor);
                            } else {
                                $("#" + id).text(valor);
                            }

                        } else {
                            $("#" + id).text("");
                        }
                        //$("#" + id).attr("disabled", true);
                    });

                    $("#partial").removeClass("hidden");
                    scroll("partial");
                }


            });
        });

        function showTable() {

            $("#spinner").show();
            $("#divTable").show();
            table = $('#table').DataTable({
                "proccessing": true,
                "serverSide": false,
                "ajax": {
                    url: "@Url.Action("GetSolicitudes", "ListaComprobacion")",
                    //url: "/AdminSolicitud/GetSolicitudes",
                    type: 'GET',
                    headers: { 'RequestVerificationToken': $('@Html.AntiForgeryToken()').val() },
                    //success: function (data) { console.log(data) },
                    complete: function () {
                        $("#spinner").hide();
                        //dataJSON = data.responseJSON.data;
                        //console.log(data);
                    }
                },
                "columnDefs": columns,
                "order": [[0, "desc"]],
                "autoWidth": true,
                "destroy": true,
                "scrollY": '700px',
                "scrollCollapse": true,
                "paging": true,
                "info": true,
                "buttons": ['excel'],
                "scrollX": true,
                "fixedColumns": true,
                "ordering": false,
                "language": {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    }
                }
            });
        }

        var columns = [

            { "name": "Id", "data": "id", "targets": 0, "visible": false},
            { "name": "Fecha", "data": "fechaSol", "targets": 1 },
            { "name": "Folio", "data": "folio", "targets": 2 },
            { "name": "Estatus", "data": "estatus", "targets": 3 },
            {
                "targets": 4,
                "data": null,
                "render": function (data, type, row, meta) {
                    if (row.estatus >= 3) {
                        return '<a href="https://firmaelectronica.conavi.gob.mx:9090/doc/EFirma/Firmado/Recursos_Humanos/' + row.archivo_firma +'" target="_blank"><i class="fa fa-file-pdf-o gold" style="font-size:25px;"></i></a>';
                    }
                    return '<a href="../AdminSolicitud/GenerateStreamPDF?id=' + row.id + '" target="_blank"><i class="fa fa-file-pdf-o gold" style="font-size:25px;"></i></a>';
                },
                "sortable": false,
                "className": 'text-center'
            }, {
                "targets": 5,
                "data": null,
                "render": function (data, type, row, meta) {
                    let json = JSON.stringify(row);
                    //console.log(json.folio);
                    json = json.replace(/"/g, "'");
                    if (row.estatus == 4) {

                        return '<a id="' + json + '" class="gold btn-action" elemento="" type="button" style="font-size:25px;" data-toggle="tooltip" title="Editar"><i class="fa fa-pencil-square-o"></i></a>';
                    }
                    return "";
                },
                "sortable": false,
                "className": 'text-center'
            },

        ];

        function showAlert() {
            scroll("partialView");
            setTimeout(function () {

                $("#alerta").fadeOut(1500);

            }, 6000);


            setTimeout(function () {

                $("#alerta").remove();
            }, 12000);

        }

        function scroll(id) {
            try {
                let el = document.getElementById(id);
                el.scrollIntoView(true);
            } catch (e) { console.log(e) }
        }

        


</script>
}
