
@{
    ViewBag.Title = "Administrador";
}
<div class="row">
    <div id="alertAjax" class="col-md-12">
        @Html.Raw(@ViewBag.Alert)
    </div>
</div>
<div class="form-row">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="panel-group ficha-collapse" id="Cgeneral">
                <div class="panel-default" style="padding:10px">
                    <form id="form_viaticos">
                        <!--General-->
                        <div class="panel-heading border-colapse">
                            <h4 class="panel-title">
                                <a data-parent="#Cgeneral" data-toggle="collapse" href="#Pgeneral" aria-expanded="true" aria-controls="Pgeneral">
                                    <i class="fas fa-suitcase"></i> Solicitud de  viáticos anticipados
                                </a>
                            </h4>
                            <button type="button" class="collpase-button collapse" data-parent="#Cgeneral" data-toggle="collapse" href="#Pgeneral"></button>
                        </div>
                        <div class="panel-collapse collapse in border-colapse" id="Pgeneral">
                            <div class="panel-body">
                                <h4>Información del solicitante</h4>
                                <hr class="red" />
                                <div class="row">
                                    <div class="col-md-6">
                                        <p>
                                            <small>Nombre</small>
                                            <input disabled class="form-control" id="txtNombre" name="Nombre" value="@Html.Raw(@ViewBag.Nombre)" />
                                            <small id="lblNombre" class="hidden">Campo requerido *</small>
                                        </p>
                                    </div>

                                    <div class="col-md-6">
                                        <p>
                                            <small>Puesto</small>
                                            <input disabled class="form-control" id="txtPuesto" name="Puesto" value="@Html.Raw(@ViewBag.Cargo)"/>
                                            <small id="lblPuesto" class="hidden">Campo requerido *</small>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <p>
                                            <small>Área de adscripción </small>
                                            <input disabled class="form-control" id="txtArea_adscripcion" name="Area_adscripcion" value="@Html.Raw(@ViewBag.Area)"/>
                                            <small id="lblArea_adscripcion" class="hidden">Campo requerido *</small>
                                        </p>

                                    </div>
                                </div>
                                <h4>Detalle de la comisión</h4>
                                <hr class="red" />
                                <div class="row" style=" margin-bottom: 10px;">
                                    <div class="col-md-12">
                                        <p>
                                            <small>Descripción de la comisión </small>
                                            <textarea placeholder="Especifique descripción de la comisión " class="form-control" id="txtDescripcion_comision" name="Descripcion_comision" style="resize:none"></textarea>
                                            <small id="lblDescripcion_comision" class="hidden">Campo requerido *</small>
                                        </p>
                                    </div>
                                </div>
                                @*<div class="row">
                                        <div class="col-md-4">
                                            <p>
                                                <small>Unidad</small>
                                                <input type="number" placeholder="Especifique unidad" class="form-control" id="txtUnidad" name="Unidad" />
                                                <small id="lblUnidad" class="hidden">Campo requerido *</small>
                                            </p>
                                        </div>

                                        <div class="col-md-4">
                                            <p>
                                                <small>Cantidad</small>
                                                <input type="number" placeholder="Especifique cantidad" class="form-control" id="txtCantidad" name="Cantidad" />
                                                <small id="lblCantidad" class="hidden">Campo requerido *</small>
                                            </p>
                                        </div>

                                        <div class="col-md-4" style="float:right">
                                            <p>
                                                <small>Monto total</small>
                                                <input disabled class="form-control" id="txtMonto_total" name="Monto_total" />
                                                <small id="lblMonto_total" class="hidden">Campo requerido *</small>
                                            </p>
                                        </div>
                                    </div>*@

                            </div>


                        </div>
                        <!--Oficio-->
                        <div class="panel-heading border-colapse top-buffer">
                            <h4 class="panel-title">
                                <a data-parent="#Coficio" data-toggle="collapse" href="#Poficio" aria-expanded="true" aria-controls="Poficio">
                                    <i class="fas fa-file-invoice"></i> Oficio de  viáticos anticipados
                                </a>
                            </h4>
                            <button type="button" class="collpase-button collapse" data-parent="#Coficio" data-toggle="collapse" href="#Poficio"></button>
                        </div>
                        <div class="panel-collapse collapse in border-colapse" id="Poficio">
                            <div class="panel-body">
                                <h4>Detalle de la comisión</h4>
                                <hr class="red" />
                                <div class="row">
                                    <div class="col-md-6">
                                        <p>
                                            <small>Objetivo</small>
                                            <textarea placeholder="Especifique objetivo" class="form-control" id="txtObjetivo" name="Objetivo" style="resize:none"></textarea>
                                            <small id="lblObjetivo" class="hidden">Campo requerido *</small>
                                        </p>
                                    </div>
                                    <div class="col-md-6">
                                        <p>
                                            <small>Observaciones</small>
                                            <textarea placeholder="Especifique observaciones" class="form-control" id="txtObservaciones" name="Observaciones" style="resize:none"></textarea>
                                            <small id="lblObservaciones" class="hidden">Campo requerido *</small>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <p>
                                            <small>Lugares asignados en la comisión</small>
                                            <input placeholder="Especifique lugares asignados en la comisión" class="form-control" id="txtLugares_asignados_comision" name="Lugares_asignados_comision" />
                                            <small id="lblLugares_asignados_comision" class="hidden">Campo requerido *</small>
                                        </p>
                                    </div>
                                    <div class="col-md-6">
                                        @*<p>
            <small>Medio de transporte</small>
            <input placeholder="Especifique medio de transporte" class="form-control" id="txtMedio_transporte" name="Medio_transporte" />
            <small id="lblMedio_transporte" class="hidden">Campo requerido *</small>
        </p>*@
                                        <p>
                                            <small>Medio de transporte</small>
                                            <select class="form-control" id="slctMedio_transporte" name="Medio_transporte">
                                                <option value="">--- Seleccionar ---</option>
                                                <option value="1">Aéreo</option>
                                                <option value="2">Terrestre</option>
                                            </select>
                                            <small id="lblMedio_transporte" class="hidden">Campo requerido *</small>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <p>
                                            <small>Periodo de la comisión desde</small>
                                            <div class="form-group datepicker-group">
                                                <input class="form-control calendar" id="txtPeriodo_comision_i" name="Periodo_comision_i" type="text">
                                                <span class="glyphicon glyphicon-calendar picker-red" aria-hidden="true"></span>
                                            </div>
                                            <small id="lblPeriodo_comision_i" class="hidden">Campo requerido *</small>
                                        </p>
                                    </div>

                                    <div class="col-md-6">
                                        <p>
                                            <small>Periodo de la comisión hasta</small>
                                            <div class="form-group datepicker-group">
                                                <input class="form-control calendar" id="txtPeriodo_comision_f" name="Periodo_comision_f" type="text">
                                                <span class="glyphicon glyphicon-calendar picker-red" aria-hidden="true"></span>
                                            </div>
                                            <small id="lblPeriodo_comision_f" class="hidden">Campo requerido *</small>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <p>
                                            <small>Días de duración</small>
                                            <input disabled class="form-control" id="txtDias_duracion" name="Dias_duracion" />
                                            <small id="lblDias_duracion" class="hidden">Campo requerido *</small>
                                        </p>
                                    </div>


                                    <div class="col-md-4">
                                        <p>
                                            <small>Cuota diaria</small>
                                            <input disabled class="form-control" id="txtCuota_diaria" name="Cuota_diaria" value="1250" />
                                            <small id="lblCuota_diaria" class="hidden">Campo requerido *</small>
                                        </p>
                                    </div>
                                    <div class="col-md-4">
                                        <p>
                                            <small>Importe de viáticos</small>
                                            <input disabled class="form-control" id="txtImporte_viaticos" name="Importe_viaticos" />
                                            <small id="lblImporte_viaticos" class="hidden">Campo requerido *</small>
                                        </p>
                                    </div>

                                </div>
                                <div class="row bottom-buffer">
                                    <div class="col-md-12">
                                        <p>
                                            <small>Cuando se utilice vehículo oficial o propio</small>
                                        </p>
                                        <label class="switch">
                                            <input id="switch_casetas" type="checkbox">
                                            <span class="slider round"></span>
                                        </label>

                                    </div>
                                </div>
                                <div id="vehiculo" class="hidden">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p>
                                                <small>No. de casetas</small>
                                                <input placeholder="Especifique no. de casetas" class="form-control" id="txtNum_casetas" name="Num_casetas" />
                                                <small id="lblNum_casetas" class="hidden">Campo requerido *</small>
                                            </p>
                                        </div>
                                        <!--<div class="col-md-5">-->
                                            @*<p>
                                                <small>Dotación de combustible según formula <i class="fas fa-info-circle gold" title="(kilometraje del recorrido total entre cinco por el precio del litro de gasolina magna)"></i></small>
                                                <input placeholder="Especifique dotación de combustible según formula (kilometraje del recorrido total entre cinco por el precio del litro de gasolina magna" class="form-control" id="txtDotacion_combustible" name="Dotacion_combustible" />
                                                <small id="lblDotacion_combustible" class="hidden">Campo requerido *</small>
                                            </p>*@
                                        <!--</div>-->
                                        <div class="col-md-6">
                                            <p>
                                                <small>Importe de gastos con cargo a pasajes</small>
                                                <input placeholder="Especifique importe de gastos con cargo a pasajes" class="form-control" id="txtImporte_gastos" name="Importe_gastos" />
                                                <small id="lblImporte_gastos" class="hidden">Campo requerido *</small>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4" style="float:right">
                                            <p>
                                                <small>Total</small>
                                                <input disabled class="form-control" id="txtTotal_peajes" name="Total_peajes" />
                                                <small id="lblTotal_peajes" class="hidden">Campo requerido *</small>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row bottom-buffer">
                                    <div class="col-md-12">
                                        <p>
                                            <small>Cuando se utilice pasajes aéreos</small>
                                        </p>
                                        <label class="switch">
                                            <input id="switch_aereo" type="checkbox">
                                            <span class="slider round"></span>
                                        </label>

                                    </div>
                                </div>
                                <div id="aereo" class="hidden">
                                    <h4>Solicitud de pasajes aéreos</h4>
                                    <hr class="red" />
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p>
                                                <small>Fecha de salida</small>
                                                <div class="form-group datepicker-group">
                                                    <input class="form-control calendar" id="txtFecha_salida" name="Fecha_salida" type="text" />
                                                    <span class="glyphicon glyphicon-calendar picker-red" aria-hidden="true"></span>
                                                </div>


                                                <small id="lblFecha_salida" class="hidden">Campo requerido *</small>
                                            </p>
                                        </div>
                                        <div class="col-md-6">
                                            <p>
                                                <small>Fecha de regreso</small>
                                                <div class="form-group datepicker-group">
                                                    <input class="form-control calendar" id="txtFecha_regreso" name="Fecha_regreso" type="text" />
                                                    <span class="glyphicon glyphicon-calendar picker-red" aria-hidden="true"></span>
                                                </div>

                                                <small id="lblFecha_regreso" class="hidden">Campo requerido *</small>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p>
                                                <small>Horario estimado salida</small>
                                                <select class="form-control" id="slctHorario_salida" name="Horario_salida">
                                                    <option value="">--- Seleccionar ---</option>
                                                    <option value="1">Mañana</option>
                                                    <option value="2">Tarde</option>
                                                    <option value="3">Noche</option>
                                                </select>
                                                <small id="lblHorario_salida" class="hidden">Campo requerido *</small>
                                            </p>
                                        </div>
                                        <div class="col-md-6">
                                            <p>
                                                <small>Horario estimado regreso</small>
                                                <select class="form-control" id="slctHorario_regreso" name="Horario_regreso">
                                                    <option value="">--- Seleccionar ---</option>
                                                    <option value="1">Mañana</option>
                                                    <option value="2">Tarde</option>
                                                    <option value="3">Noche</option>
                                                </select>
                                                <small id="lblHorario_regreso" class="hidden">Campo requerido *</small>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p>
                                                <small>Observaciones</small>
                                                <textarea class="form-control" id="txtObs_aereo" name="Obs_aereo" rows="5"></textarea>
                                                <small id="lblObs_aereo" class="hidden">Campo requerido *</small>
                                            </p>
                                        </div>
                                    </div>
                                    @*<div class="row">
                                                <div class="col-md-6">
                                                    <p>
                                                        <small>Línea aérea</small>
                                                        <input placeholder="Especifique línea aérea" class="form-control" id="txtLinea_aerea" name="Linea_aerea" />
                                                        <small id="lblLinea_aerea" class="hidden">Campo requerido *</small>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <p>
                                                        <small>Ruta</small>
                                                        <input placeholder="Especifique ruta" class="form-control" id="txtRuta_i" name="Ruta_i" />
                                                        <small id="lblRuta_i" class="hidden">Campo requerido *</small>
                                                    </p>
                                                </div>


                                                <div class="col-md-2">
                                                    <p>
                                                        <small>Vuelo</small>
                                                        <input placeholder="Especifique vuelo" class="form-control" id="txtVuelo_i" name="Vuelo_i" />
                                                        <small id="lblVuelo_i" class="hidden">Campo requerido *</small>
                                                    </p>
                                                </div>
                                                <div class="col-md-2">
                                                </div>
                                                <div class="col-md-2">
                                                    <p>
                                                        <small>Sale</small>
                                                        <input type="time" placeholder="Especifique sale" class="form-control" id="txtSale_i" name="Sale_i" />
                                                        <small id="lblSale_i" class="hidden">Campo requerido *</small>
                                                    </p>
                                                </div>
                                                <div class="col-md-2">
                                                    <p>

                                                        <small>Llega</small>
                                                        <input type="time" placeholder="Especifique llega" class="form-control" id="txtLlega_i" name="Llega_i" />
                                                        <small id="lblLlega_i" class="hidden">Campo requerido *</small>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <p>
                                                        <small>Ruta</small>
                                                        <input placeholder="Especifique ruta" class="form-control" id="txtRuta_f" name="Ruta_f" />
                                                        <small id="lblRuta_f" class="hidden">Campo requerido *</small>
                                                    </p>
                                                </div>
                                                <div class="col-md-2">
                                                    <p>
                                                        <small>Vuelo</small>
                                                        <input placeholder="Especifique vuelo" class="form-control" id="txtVuelo_f" name="Vuelo_f" />
                                                        <small id="lblVuelo_f" class="hidden">Campo requerido *</small>
                                                    </p>
                                                </div>
                                                <div class="col-md-2">
                                                </div>
                                                <div class="col-md-2">
                                                    <p>
                                                        <small>Sale</small>
                                                        <input type="time" placeholder="Especifique sale" class="form-control" id="txtSale_f" name="Sale_f" />
                                                        <small id="lblSale_f" class="hidden">Campo requerido *</small>
                                                    </p>
                                                </div>
                                                <div class="col-md-2">
                                                    <p>
                                                        <small>Llega</small>
                                                        <input type="time" placeholder="Especifique llega" class="form-control" id="txtLlega_f" name="Llega_f" />
                                                        <small id="lblLlega_f" class="hidden">Campo requerido *</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>*@

                                </div>
                                <div class="row top-buffer">
                                    <div class="col-md-4">
                                        <button type="button" class="btn btn-primary" id="btnGeneral">Guardar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="results"></div>
<script src="https://framework-gb.cdn.gob.mx/assets/scripts/jquery-ui-datepicker.js"></script>

<script>
        $(document).ready(function () {
            //showAlert();
            //$("#txtNombre").val("Luis Manuel Mendoza González");
            //$("#txtPuesto").val("Desarrollador");
            //$("#txtArea_adscripcion").val("Subdirección de sistemas");
            //$("#txtMonto_total").val("1250");

            //console.log("NIVEL: ",cve_nivel);
        });
            //datepickers
            var dateToday = new Date();
            var periodo = $("#txtPeriodo_comision_i, #txtPeriodo_comision_f").datepicker({
                defaultDate: "+1w",
                minDate: dateToday,
                onSelect: function (selectedDate) {
                    var option = this.id == "txtPeriodo_comision_i" ? "minDate" : "maxDate",
                        instance = $(this).data("datepicker"),
                        date = $.datepicker.parseDate(instance.settings.dateFormat || $.datepicker._defaults.dateFormat, selectedDate, instance.settings);
                    periodo.not(this).datepicker("option", option, date);

                    obtenerDias($('#txtPeriodo_comision_i').val(), $('#txtPeriodo_comision_f').val());
                }
            });
            var aereo = $("#txtFecha_salida, #txtFecha_regreso").datepicker({
                defaultDate: "+1w",
                minDate: dateToday,
                onSelect: function (selectedDate) {
                    var option = this.id == "txtFecha_salida" ? "minDate" : "maxDate",
                        instance = $(this).data("datepicker"),
                        date = $.datepicker.parseDate(instance.settings.dateFormat || $.datepicker._defaults.dateFormat, selectedDate, instance.settings);
                    aereo.not(this).datepicker("option", option, date);


                }
            });

            //eventos
            $('#switch_casetas').change(function () {
                if ($("#switch_casetas").prop('checked') == false) {
                    $("#vehiculo").addClass("hidden");

                } else {
                    $("#vehiculo").removeClass("hidden");

                }
            });
            $('#switch_aereo').change(function () {
                if ($("#switch_aereo").prop('checked') == false) {
                    $("#aereo").addClass("hidden");

                } else {
                    $("#aereo").removeClass("hidden");

                }
            });
            $('#btnGeneral').click(function () {
                // Serializar el formulario a JSON
                var disabled = $("#form_viaticos").find(':input:disabled').removeAttr('disabled')
                //let obj = $("#form_viaticos").serializeToJSON({ associativeArrays: false }); forma antigua !!
                const array = $("#form_viaticos").serializeArray();
                disabled.attr('disabled', 'disabled');
                //console.log(array);
                const json = {};
                $.each(array, function () {
                    // set JSON con valor o null
                    json[this.name] = this.value || null;

                });
                //console.log("JSON: ",json);
                validarDatos(json);

                var elementos = $(".error-lbl").map(function () {
                    return this.id;
                }).get();
                if (elementos == 0) {
                    enviarDatos(json);
                    //console.log(json);
                }
            });

            //funciones
    function enviarDatos(obj) {
        //console.log(obj);
                // Deshabilitamos el botón de Submit
                $("#btnGeneral").prop("disabled", true);

            //Limpiar formulario
           //$("#informe").val("");
                let viaticos = JSON.stringify(obj);
                //console.log(viaticos);
                $.ajax({
                    url: "@Url.Action("GuardarSolicitud", "ViaticosSolicitud")", // Url
                    contentType: 'application/json',
                    data:
                        // Datos
                        viaticos,
                    type: "post"  // Verbo HTTP
                })
                // Se ejecuta si todo fue bien.
                    .done(function (result) {
                        //showAlert();
                        //console.log(result);
                        if (result != null) {
                            console.log(result, "success");
                            // Actualiza el resultado HTML
                            //$("#PostList").html(result);
                            $("#divDescripcion").show();

                            // Un pequeño esfecto especial ;)
                            $("#divDescripcion .row").hide();
                            $("#divDescripcion .row").slideToggle("fast");

                            // Limpia el formulario
                            //$("#folio").val("");

                            //LLenamos el formiulario
                            $("#informe").val(result.informe).prop("readonly", true);
                            $("#observacion").val(result.observacion).prop("readonly", true);
                            var styleElem = document.head.appendChild(document.createElement("style"));
                            styleElem.innerHTML = ".escala-" + result.letra + ":after {background: " + result.color + ";}";
                            $(".escala-" + result.letra).css("background", result.color);
                            var rutaInforme = '../doc/Sisevive/' + result.idUserCarga + '/' + result.folio + '/' + result.nombreArchInforme;
                            //console.log(rutaInforme);
                            $('#btnDownInfo').attr('href', rutaInforme);

                            // Escondemos el Ajax Loader
                            //$("#AjaxLoader").hide("slow");

                            // Habilitamos el botón de Submit
                            $("#btnGeneral").prop("disabled", false);

                            // Mostramos un mensaje de éxito.
                            $("#alertAjax").append(result);
                            showAlert();
                            //$("#ExitoAlert").show("slow").delay(2000).hide("slow");
                        } else {
                            console.log(result, "error");
                            $("#divDescripcion").hide();
                            // Mostramos un mensaje de error.
                            $("#alertAjax").append(result);
                            // Habilitamos el botón de Submit
                            $("#btnGeneral").prop("disabled", false);

                            showAlert();
                        }

                })
                // Se ejecuta si se produjo un error.
                .fail(function (xhr, status, error) {
                    // Mostramos un mensaje de error.
                    //$("#ErrorAlert").show("slow").delay(2000).hide("slow");

                    // Escondemos el Ajax Loader
                    //$("#AjaxLoader").hide("slow");

                    // Habilitamos el botón de Submit
                    //$("#SubmitBtn").prop("disabled", false);
                })
                // Hacer algo siempre, haya sido exitosa o no.
                .always(function () {
                    //showAlert();
                });

            }
            function validarDatos(obj) {
                $.each(obj, function (key, val) {
                    //console.log(key, " : ", val);
                    if (val == null) {
                        $("#lbl" + key).addClass("error-lbl");
                        $("#lbl" + key).removeClass("hidden");
                    } else {
                        $("#lbl" + key).removeClass("error-lbl");
                        $("#lbl" + key).addClass("hidden");
                    }

                });

                //campos excluidos según switch
                let exclude;
                if ($("#switch_casetas").prop('checked') == false || $("#switch_aereo").prop('checked') == false) {
                    exclude = ["lblNum_casetas", "lblDotacion_combustible", "lblImporte_gastos", "lblTotal_peajes"];
                } else {
                    exclude = [];
                }

                for (let i = 0; i < exclude.length; i++) {
                    $("#" + exclude[i]).removeClass("error-lbl");
                    $("#" + exclude[i]).addClass("hidden");
                    //console.log("#" + exclude[i])
                }

                let exclude2;
                if ($("#switch_aereo").prop('checked') == false) {
                    exclude2 = ["lblFecha_salida", "lblFecha_regreso", "lblHorario_salida", "lblHorario_regreso"];
                } else {
                    exclude2 = [];
                }

                for (let i = 0; i < exclude2.length; i++) {
                    $("#" + exclude2[i]).removeClass("error-lbl");
                    $("#" + exclude2[i]).addClass("hidden");
                    //console.log("#" + exclude2[i])
                }

                $.each(obj, function (key, val) {

                    if (val === "") {
                        $("#txt" + key).focus();
                        return false;
                    }
                });
            }
            function obtenerDias(f1, f2) {

                let importeDiario = $("#txtCuota_diaria").val();
                let aFecha1 = f1.split('/');
                let aFecha2 = f2.split('/');
                let fFecha1 = Date.UTC(aFecha1[2], aFecha1[1] - 1, aFecha1[0]);
                let fFecha2 = Date.UTC(aFecha2[2], aFecha2[1] - 1, aFecha2[0]);
                let dif = fFecha2 - fFecha1;

                let dias = Math.floor(dif / (1000 * 60 * 60 * 24));
                let cve_nivel =  '@Html.Raw(@ViewBag.CvNivel)';




                if (dias >= 0) {
                    
                    let nivel = cve_nivel.substring(0, 1);
                    let dias_nivel = nivel == 'M' ? dias : dias + .5;
                    $("#txtDias_duracion").val(dias_nivel);
                    //console.log(nivel);
                    $("#txtImporte_viaticos").val(dias_nivel * importeDiario);
                } else {
                    $("#txtDias_duracion").val("");
                    $("#txtImporte_viaticos").val("");

                }
    }
    function getTotalCasetas() {
        let nuCasetas = $("#txtNum_casetas").val();
        let importeCasetas = $("#txtImporte_gastos").val();
        let total = nuCasetas * importeCasetas;
        $("#txtTotal_peajes").val(total);
    }
    $("#txtImporte_gastos").change(function () {
        let nuCasetas = $("#txtNum_casetas").val();
        nuCasetas = nuCasetas == "" ? 0 : nuCasetas;
        let importeCasetas = $("#txtImporte_gastos").val();
        let total = nuCasetas * importeCasetas;
        $("#txtTotal_peajes").val(total);
    });
    $("#txtNum_casetas").change(function () {
        let nuCasetas = $("#txtNum_casetas").val();
        let importeCasetas = $("#txtImporte_gastos").val();
        importeCasetas = importeCasetas == "" ? 0 : importeCasetas;
        let total = nuCasetas * importeCasetas;
        $("#txtTotal_peajes").val(total);
    });

    function showAlert() {
        scroll("partialView");
                setTimeout(function () {

                    $("#alerta").fadeOut(1500);

                }, 6000);


                setTimeout(function () {

                    $("#alerta").remove();
                }, 12000);

    }

    function scroll(id) {
        try {
            let el = document.getElementById(id);
            el.scrollIntoView(true);
        } catch (e) { console.log(e) }
    }




</script>
