@model ConaviWeb.Model.Catalogo
@{
    ViewBag.Title = "Administrador";
}

<style>
    .switchIn {
        height: 0;
        width: 0;
        visibility: hidden;
    }

    .switchLab {
        cursor: pointer;
        text-indent: -9999px;
        width: 50px;
        height: 25px;
        background: grey;
        display: block;
        border-radius: 25px;
        position: relative;
    }

        .switchLab:after {
            content: '';
            position: absolute;
            top: 5px;
            left: 5px;
            width: 15px;
            height: 15px;
            background: #fff;
            border-radius: 15px;
            transition: 0.4s;
        }

    .switchIn:checked + .switchLab {
        background: #661e2c;
    }

        .switchIn:checked + .switchLab:after {
            left: calc(100% - 5px);
            transform: translateX(-100%);
        }

    .switchLab:active:after {
        width: 130px;
    }

    // centering
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
</style>

<div class="row">
    <div id="alertAjax" class="col-md-12">
        @Html.Raw(@ViewBag.Alert)
    </div>
</div>
<div class="form-row">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="panel-group ficha-collapse" id="Cgeneral">
                <div class="panel-default" style="padding:10px">
                    <div class="panel-heading border-colapse">
                        <h4 class="panel-title">
                            <a data-parent="#Cgeneral" data-toggle="collapse" href="#Pgeneral" aria-expanded="true" aria-controls="Pgeneral">
                                <i class="fa fa-suitcase"></i> Lista de solicitudes de  viáticos anticipados
                            </a>
                        </h4>
                        <button type="button" class="collpase-button collapse" data-parent="#Cgeneral" data-toggle="collapse" href="#Pgeneral"></button>
                    </div>
                    <div class="panel-collapse collapse in border-colapse" id="Pgeneral">
                        <div class="panel-body">
                            <div id="divTable" class="form-group">
                                <form id="formTable">
                                    <table id="table" class="table" style="width: 100%">
                                        <thead>
                                            <tr style="font-size:15px;">
                                                <th>
                                                    ID
                                                </th>
                                                <th>
                                                    FECHA
                                                </th>
                                                <th>
                                                    # COMISIÓN
                                                </th>
                                                <th>
                                                    NOMBRE
                                                </th>
                                                <th>
                                                    ARCHIVO
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </form>
                            </div>
                        </div>


                    </div>


                    <form id="form_viaticos">
                        <!--General-->
                        <div class="panel-heading border-colapse">
                            <h4 class="panel-title">
                                <a data-parent="#Cgeneral" data-toggle="collapse" href="#Pgeneral" aria-expanded="true" aria-controls="Pgeneral">
                                    <i class="fa fa-suitcase"></i> Solicitud de  viáticos anticipados
                                </a>
                            </h4>
                            <button type="button" class="collpase-button collapse" data-parent="#Cgeneral" data-toggle="collapse" href="#Pgeneral"></button>
                        </div>
                        <div class="panel-collapse collapse in border-colapse" id="Pgeneral">
                            <div class="panel-body">
                                <h4>Información del solicitante</h4>
                                <hr class="red" />
                                <div class="row">
                                    <div class="col-md-6">
                                        <p>
                                            <small>Nombre</small>
                                            <input disabled class="form-control" id="txtNombre" name="Nombre" value="@Html.Raw(@ViewBag.Nombre)" />
                                            <small id="lblNombre" class="hidden">Campo requerido *</small>
                                        </p>
                                    </div>

                                    <div class="col-md-6">
                                        <p>
                                            <small>Puesto</small>
                                            <input disabled class="form-control" id="txtPuesto" name="Puesto" value="@Html.Raw(@ViewBag.Cargo)" />
                                            <small id="lblPuesto" class="hidden">Campo requerido *</small>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <p>
                                            <small>Área de adscripción </small>
                                            <input disabled class="form-control" id="txtArea_adscripcion" name="Area_adscripcion" value="@Html.Raw(@ViewBag.Area)" />
                                            <small id="lblArea_adscripcion" class="hidden">Campo requerido *</small>
                                        </p>

                                    </div>
                                </div>
                                <h4>Detalle de la comisión</h4>
                                <hr class="red" />
                                <div class="row" style=" margin-bottom: 10px;">
                                    <div class="col-md-12">
                                        <p>
                                            <small>Descripción de la comisión </small>
                                            <textarea placeholder="Especifique descripción de la comisión " class="form-control" id="txtDescripcion_comision" name="Descripcion_comision" style="resize:none"></textarea>
                                            <small id="lblDescripcion_comision" class="hidden">Campo requerido *</small>
                                        </p>
                                    </div>
                                </div>
                               
                            </div>


                        </div>
                        <!--Oficio-->
                        <div class="panel-heading border-colapse top-buffer">
                            <h4 class="panel-title">
                                <a data-parent="#Coficio" data-toggle="collapse" href="#Poficio" aria-expanded="true" aria-controls="Poficio">
                                    <i class="fa fa-file-text"></i> Oficio de  viáticos anticipados
                                </a>
                            </h4>
                            <button type="button" class="collpase-button collapse" data-parent="#Coficio" data-toggle="collapse" href="#Poficio"></button>
                        </div>
                        <div class="panel-collapse collapse in border-colapse" id="Poficio">
                            <div class="panel-body">
                                <h4>Detalle de la comisión</h4>
                                <hr class="red" />
                                <div class="row">
                                    <div class="col-md-6">
                                        <p>
                                            <small>Objetivo</small>
                                            <textarea placeholder="Especifique objetivo" class="form-control" id="txtObjetivo" name="Objetivo" style="resize:none"></textarea>
                                            <small id="lblObjetivo" class="hidden">Campo requerido *</small>
                                        </p>
                                    </div>
                                    <div class="col-md-6">
                                        <p>
                                            <small>Observaciones</small>
                                            <textarea placeholder="Especifique observaciones" class="form-control" id="txtObservaciones" name="Observaciones" style="resize:none"></textarea>
                                            @*<small id="lblObservaciones" class="hidden">Campo requerido *</small>*@
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <p>
                                            <small>Entidad asignada en la comisión</small>
                                            <select id="slctClave_estado" name="Clave_estado" class="form-control" asp-items="@(new SelectList((System.Collections.IEnumerable)ViewData["Entidades"], "Clave" , "Descripcion" ))"></select>
                                            <small id="lblClave_estado" class="hidden">Campo requerido *</small>
                                        </p>
                                    </div>
                                    <div class="col-md-4">
                                        <p>
                                            <small>Municipio asignado en la comisión</small>
                                            <input placeholder="Especifique el municipio asignado en la comisión" class="form-control" id="txtMunicipio" name="Municipio" />
                                            @*<small id="lblMunicipio_comision" class="hidden">Campo requerido *</small>*@
                                        </p>
                                    </div>
                                    <div class="col-md-4">
                                        @*<p>
                                            <small>Medio de transporte</small>
                                            <input placeholder="Especifique medio de transporte" class="form-control" id="txtMedio_transporte" name="Medio_transporte" />
                                            <small id="lblMedio_transporte" class="hidden">Campo requerido *</small>
                                            </p>*@
                                        <p>
                                            <small>Medio de transporte</small>
                                            <select class="form-control" id="slctMedio_transporte" name="Medio_transporte">
                                                <option value="">--- Seleccionar ---</option>
                                                <option value="1">Aéreo</option>
                                                <option value="2">Terrestre</option>
                                            </select>
                                            <small id="lblMedio_transporte" class="hidden">Campo requerido *</small>
                                        </p>
                                    </div>
                                </div>
                                <div class="row col-md-12 hidden" id="indet">
                                    <small>Indeterminado</small>
                                    <input type="checkbox" class="switchIn" id="switchIndet" /><label class="switchLab" for="switchIndet">Toggle</label>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <p>
                                            <small>Periodo de la comisión desde</small>
                                            <div class="form-group datepicker-group">
                                                <input class="form-control calendar" autocomplete="off" id="txtPeriodo_comision_i" name="Periodo_comision_i" type="text">
                                                <span class="glyphicon glyphicon-calendar picker-red" aria-hidden="true"></span>
                                            </div>
                                            <small id="lblPeriodo_comision_i" class="hidden">Campo requerido *</small>
                                        </p>
                                    </div>

                                    <div class="col-md-6">
                                        <p>
                                            <small>Periodo de la comisión hasta</small>
                                            <div class="form-group datepicker-group">
                                                <input class="form-control calendar" autocomplete="off" id="txtPeriodo_comision_f" name="Periodo_comision_f" type="text">
                                                <span class="glyphicon glyphicon-calendar picker-red" aria-hidden="true"></span>
                                            </div>
                                            <small id="lblPeriodo_comision_f" class="hidden">Campo requerido *</small>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <p>
                                            <small>Días de duración</small>
                                            <input disabled class="form-control" id="txtDias_duracion" name="Dias_duracion" />
                                            <small id="lblDias_duracion" class="hidden">Campo requerido *</small>
                                        </p>
                                    </div>


                                    <div class="col-md-4">
                                        <p>
                                            <small>Cuota diaria</small>
                                            <input disabled class="form-control" id="txtCuota_diaria" name="Cuota_diaria" value="1250" />
                                            <small id="lblCuota_diaria" class="hidden">Campo requerido *</small>
                                        </p>
                                    </div>
                                    <div class="col-md-4">
                                        <p>
                                            <small>Importe de viáticos</small>
                                            <input disabled class="form-control" id="txtImporte_viaticos" name="Importe_viaticos" />
                                            <small id="lblImporte_viaticos" class="hidden">Campo requerido *</small>
                                        </p>
                                    </div>

                                </div>
                                <div class="row bottom-buffer">
                                    <div class="col-md-12">
                                        <p>
                                            <small>Cuando se utilice vehículo oficial o propio</small>
                                        </p>
                                        <label class="switch">
                                            <input id="switch_casetas" type="checkbox">
                                            <span class="slider round"></span>
                                        </label>

                                    </div>
                                </div>
                                <div id="vehiculo" class="hidden">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p>
                                                <small>No. de casetas</small>
                                                <input placeholder="Especifique no. de casetas" class="form-control" id="txtNum_casetas" name="Num_casetas" data-decimal="2" data-decimal-auto="2" />
                                                <small id="lblNum_casetas" class="hidden">Campo requerido *</small>
                                            </p>
                                        </div>
                                        <!--<div class="col-md-5">-->
                                        @*<p>
                                            <small>Dotación de combustible según formula <i class="fas fa-info-circle gold" title="(kilometraje del recorrido total entre cinco por el precio del litro de gasolina magna)"></i></small>
                                            <input placeholder="Especifique dotación de combustible según formula (kilometraje del recorrido total entre cinco por el precio del litro de gasolina magna" class="form-control" id="txtDotacion_combustible" name="Dotacion_combustible" />
                                            <small id="lblDotacion_combustible" class="hidden">Campo requerido *</small>
                                            </p>*@
                                        <!--</div>-->
                                        <div class="col-md-6">
                                            <p>
                                                <small>Importe de gastos con cargo a pasajes</small>
                                                <input placeholder="Especifique importe de gastos con cargo a pasajes" class="form-control" id="txtImporte_gastos" name="Importe_gastos" />
                                                <small id="lblImporte_gastos" class="hidden">Campo requerido *</small>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <p>
                                                <small>Traza tu Ruta</small>
                                                <input type="file" class="form-control-file" id="Traza_ruta">
                                                <small id="lblTraza_ruta" class="hidden">Campo requerido *</small>
                                            </p>
                                        </div>
                                        <div class="col-md-4">
                                        </div>
                                        <div class="col-md-4">
                                            <p>
                                                <small>Total</small>
                                                <input disabled class="form-control" id="txtTotal_peajes" name="Total_peajes" />
                                                <small id="lblTotal_peajes" class="hidden">Campo requerido *</small>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row bottom-buffer">
                                    <div class="col-md-12">
                                        <p>
                                            <small>Cuando se utilice pasajes aéreos</small>
                                        </p>
                                        <label class="switch">
                                            <input id="switch_aereo" type="checkbox">
                                            <span class="slider round"></span>
                                        </label>

                                    </div>
                                </div>
                                <div id="aereo" class="hidden">
                                    <h4>Solicitud de pasajes aéreos</h4>
                                    <hr class="red" />
                                    <div class="row">
                                        <div id="alertV" class="col-md-12">
                                            <div class='alertaOp alert alert-danger' id='alertVuelos' style="display:none">Los campos Destino, Fecha y Horario son requeridos.</div>
                                        </div>
                                    </div>
                                    <!--<div class="row">
                                        <div class="col-md-4">
                                            <small>Numero de vuelos</small>
                                            <select class="form-control" id="slctNVuelo" name="NVuelo">
                                                <option value="">---Seleccione---</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                            </select>
                                        </div>
                                    </div>-->
                                    <div class="row" id="vuelo_1">
                                        <div class="col-md-4" id="destino_v1">
                                            <p>
                                                <small>Destino de vuelo #1</small>
                                                <div class="form-group">
                                                    <input class="form-control calendar" autocomplete="off" id="txtDestino_1" name="Destino_1" type="text" />
                                                </div>
                                                <small id="lblDestino_1" class="hidden">Campo requerido *</small>
                                            </p>
                                            <p>
                                                <button class="btn btn-primary btn-xs" title="Agregar vuelo" id="btn_vuelo1" type="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> </button>
                                            </p>
                                        </div>
                                        <div class="col-md-4" id="fecha_v1">
                                            <p>
                                                <small>Fecha de vuelo #1</small>
                                                <div class="form-group datepicker-group">
                                                    <input class="form-control calendar" autocomplete="off" id="txtFecha_1" name="Fecha_1" type="text" />
                                                    <span class="glyphicon glyphicon-calendar picker-red" aria-hidden="true"></span>
                                                </div>
                                                <small id="lblFecha_1" class="hidden">Campo requerido *</small>
                                            </p>
                                        </div>
                                        <div class="col-md-4" id="horario_v1">
                                            <p>
                                                <small>Horario estimado de vuelo #1</small>
                                                <div class="form-group">
                                                    <input type="time" autocomplete="off" placeholder="Especifique horario" class="form-control" id="slctHorario_1" name="Horario_1" />
                                                    <small id="lblHorario_1" class="hidden">Campo requerido *</small>
                                                </div>
                                            </p>
                                        </div>

                                    </div>
                                    <div class="row hidden" id="vuelo_2">
                                        <div class="col-md-4" id="destino_v2">
                                            <p>
                                                <small>Destino de vuelo #2</small>
                                                <div class="form-group">
                                                    <input class="form-control calendar" autocomplete="off" id="txtDestino_2" name="Destino_2" type="text" />
                                                </div>
                                                <small id="lblDestino_2" class="hidden">Campo requerido *</small>
                                            </p>
                                            <p>
                                                <button class="btn btn-primary btn-xs" title="Agregar vuelo" id="btn_vuelo2" type="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                                                <button class="btn btn-primary btn-xs" title="Eliminar vuelo" id="btn_cancela1" type="button"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
                                            </p>
                                        </div>
                                        <div class="col-md-4" id="fecha_v2">
                                            <p>
                                                <small>Fecha de vuelo #2</small>
                                                <div class="form-group datepicker-group">
                                                    <input class="form-control calendar" autocomplete="off" id="txtFecha_2" name="Fecha_2" type="text" />
                                                    <span class="glyphicon glyphicon-calendar picker-red" aria-hidden="true"></span>
                                                </div>

                                                <small id="lblFecha_2" class="hidden">Campo requerido *</small>
                                            </p>
                                        </div>
                                        <div class="col-md-4" id="horario_v2">
                                            <p>
                                                <small>Horario estimado de vuelo #2</small>
                                                <div class="form-group">
                                                    <input type="time" autocomplete="off" placeholder="Especifique horario" class="form-control" id="slctHorario_2" name="Horario_2" />
                                                    <small id="lblHorario_2" class="hidden">Campo requerido *</small>
                                                </div>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row hidden" id="vuelo_3">
                                        <div class="col-md-4" id="destino_v3">
                                            <p>
                                                <small>Destino de vuelo #3</small>
                                                <div class="form-group">
                                                    <input class="form-control calendar" autocomplete="off" id="txtDestino_3" name="Destino_3" type="text" />
                                                </div>
                                                <small id="lblDestino_3" class="hidden">Campo requerido *</small>
                                            </p>
                                            <p>
                                                <button class="btn btn-primary btn-xs" title="Agregar vuelo" id="btn_vuelo3" type="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                                                <button class="btn btn-primary btn-xs" title="Eliminar vuelo" id="btn_cancela2" type="button"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
                                            </p>
                                        </div>
                                        <div class="col-md-4" id="fecha_v3">
                                            <p>
                                                <small>Fecha de vuelo #3</small>
                                                <div class="form-group datepicker-group">
                                                    <input class="form-control calendar" autocomplete="off" id="txtFecha_3" name="Fecha_3" type="text" />
                                                    <span class="glyphicon glyphicon-calendar picker-red" aria-hidden="true"></span>
                                                </div>
                                                <small id="lblFecha_3" class="hidden">Campo requerido *</small>
                                            </p>
                                        </div>
                                        <div class="col-md-4" id="horario_v3">
                                            <p>
                                                <small>Horario estimado de vuelo #3</small>
                                                <div class="form-group">
                                                    <input type="time" autocomplete="off" placeholder="Especifique horario" class="form-control" id="slctHorario_3" name="Horario_3" />
                                                    <small id="lblHorario_3" class="hidden">Campo requerido *</small>
                                                </div>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row hidden" id="vuelo_4">
                                        <div class="col-md-4" id="destino_v4">
                                            <p>
                                                <small>Destino de vuelo #4</small>
                                                <div class="form-group">
                                                    <input class="form-control calendar" autocomplete="off" id="txtDestino_4" name="Destino_4" type="text" />
                                                </div>
                                                <small id="lblDestino_4" class="hidden">Campo requerido *</small>
                                            </p>
                                            <p>
                                                <button class="btn btn-primary btn-xs" title="Eliminar vuelo" id="btn_cancela3" type="button"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
                                            </p>
                                        </div>
                                        <div class="col-md-4" id="fecha_v4">
                                            <p>
                                                <small>Fecha de vuelo #4</small>
                                                <div class="form-group datepicker-group">
                                                    <input class="form-control calendar" autocomplete="off" id="txtFecha_4" name="Fecha_4" type="text" />
                                                    <span class="glyphicon glyphicon-calendar picker-red" aria-hidden="true"></span>
                                                </div>
                                                <small id="lblFecha_4" class="hidden">Campo requerido *</small>
                                            </p>
                                        </div>
                                        <div class="col-md-4" id="horario_v4">
                                            <p>
                                                <small>Horario estimado de vuelo #4</small>
                                                <div class="form-group">
                                                    <input type="time" autocomplete="off" placeholder="Especifique horario" class="form-control" id="slctHorario_4" name="Horario_4" />
                                                    <small id="lblHorario_4" class="hidden">Campo requerido *</small>
                                                </div>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-sm-offset-3 col-sm-9">
                                        <button class="btn btn-primary pull-right" type="button" id="guardar_vuelos">Guardar Vuelos</button>
                                        <button class="btn btn-primary pull-right hidden" type="button" id="guardar_vuelos1">Guardar Vuelos</button>
                                        <button class="btn btn-primary pull-right hidden" type="button" id="guardar_vuelos2">Guardar Vuelos</button>
                                        <button class="btn btn-primary pull-right hidden" type="button" id="guardar_vuelos3">Guardar Vuelos</button>
                                        <button class="btn btn-primary pull-right hidden" type="button" id="editar_vuelos">Editar Vuelos</button>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <p>
                                                <small>Observaciones</small>
                                                <textarea class="form-control" id="txtObs_aereo" name="Obs_aereo" rows="5"></textarea>
                                                @*<small id="lblObs_aereo" class="hidden">Campo requerido *</small>*@
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4" style="float:right">
                                        <p>
                                            <small>Importe Total de la comisión </small>
                                            <input disabled class="form-control" id="txtGran_total" name="TotalViaticos" />
                                        </p>
                                    </div>
                                </div>
                                <div class="row top-buffer">
                                    <div class="col-md-4">
                                        <button type="button" class="btn btn-primary hidden" id="btnGeneral">Guardar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="results"></div>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
<script src="https://framework-gb.cdn.gob.mx/assets/scripts/jquery-ui-datepicker.js"></script>

<script>
    var table;
    var dataJSON;
    $(document).ready(function () {
        showAlert();
        $("#spinner").hide();
        showTable();
        //$("#txtNombre").val("Luis Manuel Mendoza González");
        //$("#txtPuesto").val("Desarrollador");
        //$("#txtArea_adscripcion").val("Subdirección de sistemas");
        //$("#txtMonto_total").val("1250");

        //console.log("NIVEL: ",cve_nivel);
        $("#switch_aereo").prop("disabled", true);
        $("#switch_casetas").prop("disabled", true);


        $('#txtImporte_gastos').on('input', function () {
            this.value = this.value.match(/\d+\.?\d{0,2}/);
        });
        $('#txtNum_casetas').on('input', function () {
            this.value = this.value.match(/\d+/);
        });

    });

    var aereo = $("#txtFecha_1, #txtFecha_2, #txtFecha_3, #txtFecha_4").datepicker({
        minDate: "+2d",
        onSelect: function (selectedDate) {
            var option = this.id == "txtFecha_salida" ? "minDate" : "maxDate",
                instance = $(this).data("datepicker"),
                date = $.datepicker.parseDate(instance.settings.dateFormat || $.datepicker._defaults.dateFormat, selectedDate, instance.settings);
            aereo.not(this).datepicker("option", option, date);


        }
    });
    var min, max;

    $('#slctMedio_transporte').change(function () {
        if ($("#slctMedio_transporte").val() == 1) {
            $("#indet").removeClass("hidden");
            $('#txtPeriodo_comision_i').datepicker('destroy');
            $('#txtPeriodo_comision_f').datepicker('destroy');
            var periodo = $("#txtPeriodo_comision_i, #txtPeriodo_comision_f").datepicker({
                minDate: "+2d",
                maxDate: "+9d",
                showWeek: true,
                onSelect: function (selectedDate) {
                    var option = this.id == "txtPeriodo_comision_i" ? "minDate" : "maxDate",
                        instance = $(this).data("datepicker"),
                        date = $.datepicker.parseDate(instance.settings.dateFormat || $.datepicker._defaults.dateFormat, selectedDate, instance.settings);
                    periodo.not(this).datepicker("option", option, date);
                    obtenerDias($('#txtPeriodo_comision_i').val(), $('#txtPeriodo_comision_f').val());
                    min = $("#txtPeriodo_comision_i").val();
                    max = $("#txtPeriodo_comision_f").val();
                    $("#txtFecha_1").datepicker('option', 'minDate', min);
                    $("#txtFecha_1").datepicker('option', 'maxDate', max);
                }
            });

        } else {
            $('#txtPeriodo_comision_i').datepicker('destroy');
            $('#txtPeriodo_comision_f').datepicker('destroy');
            $("#indet").addClass("hidden");
            var dateToday = new Date();
            var periodo = $("#txtPeriodo_comision_i, #txtPeriodo_comision_f").datepicker({
                minDate: dateToday,
                showWeek: true,
                onSelect: function (selectedDate) {
                    var option = this.id == "txtPeriodo_comision_i" ? "minDate" : "maxDate",
                        instance = $(this).data("datepicker"),
                        date = $.datepicker.parseDate(instance.settings.dateFormat || $.datepicker._defaults.dateFormat, selectedDate, instance.settings);
                    periodo.not(this).datepicker("option", option, date);
                    obtenerDias($('#txtPeriodo_comision_i').val(), $('#txtPeriodo_comision_f').val());

                }
            });
            console.log("entra la funcion normal del calendario")

        }
    });

    //eventos
    $('#switch_casetas').change(function () {
        if ($("#switch_casetas").prop('checked') == false) {
            $("#vehiculo").addClass("hidden");
            $("#txtNum_casetas").val("");
            $("#txtImporte_gastos").val("");
            $("#txtTotal_peajes").val("");
            grantotal();

        } else {
            $("#vehiculo").removeClass("hidden");

        }
    });
    $('#switch_aereo').change(function () {
        if ($("#switch_aereo").prop('checked') == false) {
            $("#aereo").addClass("hidden");

        } else {
            $("#aereo").removeClass("hidden");

        }
    });

    $('#slctNVuelo').on('change', function () {
        let option = this.value;
        switch (option) {
            case '1':
                $('#vuelo_1').removeClass('hidden');
                $('#vuelo_2').addClass('hidden');
                $('#vuelo_3').addClass('hidden');
                $('#vuelo_4').addClass('hidden');
                $('#txtFecha_2').val('');
                $('#slctHorario_2').val('');
                $('#txtFecha_3').val('');
                $('#slctHorario_3').val('');
                $('#txtFecha_4').val('');
                $('#slctHorario_4').val('');
                break;
            case '2':
                $('#vuelo_1').removeClass('hidden');
                $('#vuelo_2').removeClass('hidden');
                $('#vuelo_3').addClass('hidden');
                $('#vuelo_4').addClass('hidden');
                $('#txtFecha_3').val('');
                $('#slctHorario_3').val('');
                $('#txtFecha_4').val('');
                $('#slctHorario_4').val('');
                break;
            case '3':
                $('#vuelo_1').removeClass('hidden');
                $('#vuelo_2').removeClass('hidden');
                $('#vuelo_3').removeClass('hidden');
                $('#vuelo_4').addClass('hidden');
                $('#txtFecha_4').val('');
                $('#slctHorario_4').val('');
                break;

            case '4':
                $('#vuelo_1').removeClass('hidden');
                $('#vuelo_2').removeClass('hidden');
                $('#vuelo_3').removeClass('hidden');
                $('#vuelo_4').removeClass('hidden');
                break;
            default:
                $('#vuelo_1').addClass('hidden');
                $('#vuelo_2').addClass('hidden');
                $('#vuelo_3').addClass('hidden');
                $('#vuelo_4').addClass('hidden');
                $('#txtFecha_1').val('');
                $('#slctHorario_1').val('');
                $('#txtFecha_2').val('');
                $('#slctHorario_2').val('');
                $('#txtFecha_3').val('');
                $('#slctHorario_3').val('');
                $('#txtFecha_4').val('');
                $('#slctHorario_4').val('');
        }
    });

    $("#switchIndet").change(function () {
        const $f = document.querySelector("#txtPeriodo_comision_f");
        $f.setAttribute("disabled", 1);
        var indeter = $("#switchIndet").is(':checked');
        console.log(indeter);
    });

    var v1, v2, v3;

    $('#btn_vuelo1').click(function () {
        var destino_vuelo_1 = $('#txtDestino_1').val();
        var fecha_vuelo_1 = $('#txtFecha_1').val();
        var hora_vuelo_1 = $('#slctHorario_1').val();
        if (destino_vuelo_1 == "" || fecha_vuelo_1 == "" || hora_vuelo_1 == "") {
            showAlertVuelos();
        }
        else {
            const $de1 = document.querySelector("#txtDestino_1")
            const $in1 = document.querySelector("#txtFecha_1")
            const $in2 = document.querySelector("#slctHorario_1")
            $('#vuelo_2').removeClass('hidden');
            $('#vuelo_3').addClass('hidden');
            $('#vuelo_4').addClass('hidden');
            $('#txtFecha_3').val('');
            $('#slctHorario_3').val('');
            $('#txtFecha_4').val('');
            $('#slctHorario_4').val('');
            $("#btn_vuelo1").addClass("hidden");
            $("#guardar_vuelos").addClass("hidden");
            $("#guardar_vuelos1").removeClass("hidden");
            $in1.setAttribute("disabled", 1);
            $in2.setAttribute("disabled", 1);
            $de1.setAttribute("disabled", 1);
            v1 = fecha_vuelo_1;
            $("#txtFecha_2").datepicker('option', 'minDate', v1);
            $("#txtFecha_2").datepicker('option', 'maxDate', max);
        }
    });

    $('#btn_cancela1').click(function () {
        $('#vuelo_2').addClass('hidden');
        $("#btn_vuelo1").removeClass("hidden");
        const $des1 = document.querySelector("#txtDestino_1")
        const $in1 = document.querySelector("#txtFecha_1")
        const $in2 = document.querySelector("#slctHorario_1")
        $des1.removeAttribute("disabled", 1);
        $in1.removeAttribute("disabled", 1);
        $in2.removeAttribute("disabled", 1);
        $("#txtDestino_2").val("");
        $("#txtFecha_2").val("");
        $("#slctHorario_2").val("");
        $("#guardar_vuelos").removeClass("hidden");
        $("#guardar_vuelos1").addClass("hidden");
    })

    $('#btn_vuelo2').click(function () {
        var destino_vuelo_2 = $('#txtDestino_2').val();
        var fecha_vuelo_2 = $('#txtFecha_2').val();
        var hora_vuelo_2 = $('#slctHorario_2').val();
        if (destino_vuelo_2 == "" || fecha_vuelo_2 == "" || hora_vuelo_2 == "") {
        showAlertVuelos();
        }
        else {
            const $des1 = document.querySelector("#txtDestino_2")
            const $in1 = document.querySelector("#txtFecha_2")
            const $in2 = document.querySelector("#slctHorario_2")
            $('#vuelo_1').removeClass('hidden');
            $('#vuelo_2').removeClass('hidden');
            $('#vuelo_3').removeClass('hidden');
            $('#vuelo_4').addClass('hidden');
            $('#txtFecha_4').val('');
            $('#slctHorario_4').val('');
            $("#btn_vuelo2").addClass("hidden");
            $('#btn_cancela1').addClass("hidden");
            $("#guardar_vuelos1").addClass("hidden");
            $("#guardar_vuelos2").removeClass("hidden");
            $in1.setAttribute("disabled", 1);
            $in2.setAttribute("disabled", 1);
            $des1.setAttribute("disabled", 1);
            v2 = fecha_vuelo_2;
            $("#txtFecha_3").datepicker('option', 'minDate', v2);
            $("#txtFecha_3").datepicker('option', 'maxDate', max);
        }
    });


    $('#btn_cancela2').click(function () {
        $('#vuelo_3').addClass('hidden');
        $("#btn_vuelo2").removeClass("hidden");
        $("#btn_cancela1").removeClass("hidden");
        const $de1 = document.querySelector("#txtDestino_2")
        const $in1 = document.querySelector("#txtFecha_2")
        const $in2 = document.querySelector("#slctHorario_2")
        $de1.removeAttribute("disabled", 1);
        $in1.removeAttribute("disabled", 1);
        $in2.removeAttribute("disabled", 1);
        $("#txtDestino_3").val("");
        $("#txtFecha_3").val("");
        $("#slctHorario_3").val("");
        $("#guardar_vuelos1").removeClass("hidden");
        $("#guardar_vuelos2").addClass("hidden");
    })

    $('#btn_vuelo3').click(function () {
        var destino_vuelo_3 = $('#txtDestino_3').val();
        var fecha_vuelo_3 = $('#txtFecha_3').val();
        var hora_vuelo_3 = $('#slctHorario_3').val();
        if (destino_vuelo_3 == "" || fecha_vuelo_3 == "" || hora_vuelo_3 == "") {
            showAlertVuelos();
        }
        else {
            const $de1 = document.querySelector("#txtDestino_3")
            const $in1 = document.querySelector("#txtFecha_3")
            const $in2 = document.querySelector("#slctHorario_3")
            $('#vuelo_1').removeClass('hidden');
            $('#vuelo_2').removeClass('hidden');
            $('#vuelo_3').removeClass('hidden');
            $('#vuelo_4').removeClass('hidden');
            $("#btn_vuelo3").addClass("hidden");
            $('#btn_cancela2').addClass("hidden");
            $("#guardar_vuelos2").addClass("hidden");
            $("#guardar_vuelos3").removeClass("hidden");
            $de1.setAttribute("disabled", 1);
            $in1.setAttribute("disabled", 1);
            $in2.setAttribute("disabled", 1);
            v3 = fecha_vuelo_3;
            $("#txtFecha_4").datepicker('option', 'minDate', v3);
            $("#txtFecha_4").datepicker('option', 'maxDate', max);

        }
    });


    $('#btn_cancela3').click(function () {
        $('#vuelo_4').addClass('hidden');
        $("#btn_vuelo3").removeClass("hidden");
        $("#btn_cancela2").removeClass("hidden");
        const $de1 = document.querySelector("#txtDestino_3")
        const $in1 = document.querySelector("#txtFecha_3")
        const $in2 = document.querySelector("#slctHorario_3")
        $de1.removeAttribute("disabled", 1);
        $in1.removeAttribute("disabled", 1);
        $in2.removeAttribute("disabled", 1);

        $("#txtDestino_4").val("");
        $("#txtFecha_4").val("");
        $("#slctHorario_4").val("");
        $("#guardar_vuelos2").removeClass("hidden");
        $("#guardar_vuelos3").addClass("hidden");
    })

    $('#guardar_vuelos').click(function () {
        var destino_vuelo_1 = $('#txtDestino_1').val();
        var fecha_vuelo_1 = $('#txtFecha_1').val();
        var hora_vuelo_1 = $('#slctHorario_1').val();
        const $vuelo1d = document.querySelector("#txtDestino_1")
        const $vuelo1f = document.querySelector("#txtFecha_1")
        const $vuelo1h = document.querySelector("#slctHorario_1")
        if (destino_vuelo_1 == "" || fecha_vuelo_1 == "" || hora_vuelo_1 == ""){
            showAlertVuelos();
        }else{
                $vuelo1d.setAttribute("disabled",1);
                $vuelo1f.setAttribute("disabled",1);
                $vuelo1h.setAttribute("disabled",1);
                $("#btn_vuelo1").addClass("hidden");
                $("#guardar_vuelos").addClass("hidden");
                $("#editar_vuelos").removeClass("hidden");
                $("#btnGeneral").removeClass("hidden");
            }
    })

    $('#guardar_vuelos1').click(function () {
        var destino_vuelo_2 = $('#txtDestino_2').val();
        var fecha_vuelo_2 = $('#txtFecha_2').val();
        var hora_vuelo_2 = $('#slctHorario_2').val();
        const $vuelo2d = document.querySelector("#txtDestino_2")
        const $vuelo2f = document.querySelector("#txtFecha_2")
        const $vuelo2h = document.querySelector("#slctHorario_2")
        if (destino_vuelo_2 == "" || fecha_vuelo_2 == "" || hora_vuelo_2 == "") {
                showAlertVuelos();
        }else{
                $vuelo2d.setAttribute("disabled",1);
                $vuelo2f.setAttribute("disabled",1);
                $vuelo2h.setAttribute("disabled",1);
                $("#btn_vuelo2").addClass("hidden");
                $("#btn_cancela1").addClass("hidden");
                $("#guardar_vuelos1").addClass("hidden");
                $("#editar_vuelos").removeClass("hidden");
                $("#btnGeneral").removeClass("hidden");
            }
    })

        $('#guardar_vuelos2').click(function (){
            var destino_vuelo_3 = $('#txtDestino_3').val();
        var fecha_vuelo_3 = $('#txtFecha_3').val();
        var hora_vuelo_3 = $('#slctHorario_3').val();
            const $vuelo3d = document.querySelector("#txtDestino_3")
        const $vuelo3f = document.querySelector("#txtFecha_3")
        const $vuelo3h = document.querySelector("#slctHorario_3")
            if (destino_vuelo_3=="" || fecha_vuelo_3 == "" || hora_vuelo_3 == "") {
                showAlertVuelos();
        }else{
                $vuelo3d.setAttribute("disabled",1);
                $vuelo3f.setAttribute("disabled",1);
                $vuelo3h.setAttribute("disabled",1);
                $("#btn_vuelo3").addClass("hidden");
                $("#btn_cancela2").addClass("hidden");
                $("#guardar_vuelos2").addClass("hidden");
                $("#editar_vuelos").removeClass("hidden");
                $("#btnGeneral").removeClass("hidden");
            }
    })

        $('#guardar_vuelos3').click(function (){
            var destino_vuelo_4 = $('#txtDestino_4').val();
        var fecha_vuelo_4 = $('#txtFecha_4').val();
        var hora_vuelo_4 = $('#slctHorario_4').val();
            const $vuelo4d = document.querySelector("#txtDestino_4")
        const $vuelo4f = document.querySelector("#txtFecha_4")
        const $vuelo4h = document.querySelector("#slctHorario_4")
            if (destino_vuelo_4 == "" || fecha_vuelo_4 == "" || hora_vuelo_4 == ""){
            showAlertVuelos();
        } else {
                $vuelo4d.setAttribute("disabled",1);
                $vuelo4f.setAttribute("disabled",1);
                $vuelo4h.setAttribute("disabled",1);
                $("#btn_cancela3").addClass("hidden");
                $("#guardar_vuelos3").addClass("hidden");
                $("#editar_vuelos").removeClass("hidden");
                $("#btnGeneral").removeClass("hidden");
            }
    })



    $("#editar_vuelos").click(function () {
        const $vuelo1d = document.querySelector("#txtDestino_1")
        const $vuelo1f = document.querySelector("#txtFecha_1")
        const $vuelo1h = document.querySelector("#slctHorario_1")
        const $vuelo2d = document.querySelector("#txtDestino_2")
        const $vuelo2f = document.querySelector("#txtFecha_2")
        const $vuelo2h = document.querySelector("#slctHorario_2")
        const $vuelo3d = document.querySelector("#txtDestino_3")
        const $vuelo3f = document.querySelector("#txtFecha_3")
        const $vuelo3h = document.querySelector("#slctHorario_3")
        const $vuelo4d = document.querySelector("#txtDestino_4")
        const $vuelo4f = document.querySelector("#txtFecha_4")
        const $vuelo4h = document.querySelector("#slctHorario_4")
        $vuelo1d.removeAttribute("disabled",1);
        $vuelo1f.removeAttribute("disabled",1);
        $vuelo1h.removeAttribute("disabled",1);
        $vuelo2d.removeAttribute("disabled",1);
        $vuelo2f.removeAttribute("disabled",1);
        $vuelo2h.removeAttribute("disabled",1);
        $vuelo3d.removeAttribute("disabled",1);
        $vuelo3f.removeAttribute("disabled",1);
        $vuelo3h.removeAttribute("disabled",1);
        $vuelo4d.removeAttribute("disabled",1);
        $vuelo4f.removeAttribute("disabled",1);
        $vuelo4h.removeAttribute("disabled",1);
        $("#guardar_vuelos").removeClass("hidden");
        $("#guardar_vuelos1").addClass("hidden");
        $("#guardar_vuelos2").addClass("hidden");
         $("#guardar_vuelos3").addClass("hidden");
        $("#editar_vuelos").addClass("hidden");
        $("#btn_vuelo1").removeClass("hidden");
        $("#btn_vuelo2").removeClass("hidden");
        $("#btn_vuelo3").removeClass("hidden");
        $("#btn_cancela1").removeClass("hidden");
        $("#btn_cancela2").removeClass("hidden");
        $("#btn_cancela3").removeClass("hidden");
        $("#btnGeneral").addClass("hidden");
        $("#txtDestino_1").val("");
        $("#txtFecha_1").val("");
        $("#slctHorario_1").val("");
        $("#txtDestino_2").val("");
        $("#txtFecha_2").val("");
        $("#slctHorario_2").val("");
        $("#txtDestino_3").val("");
        $("#txtFecha_3").val("");
        $("#slctHorario_3").val("");
        $("#txtDestino_4").val("");
        $("#txtFecha_4").val("");
        $("#slctHorario_4").val("");
        $('#vuelo_2').addClass('hidden');
        $('#vuelo_3').addClass('hidden');
        $('#vuelo_4').addClass('hidden');
    })


    $('#slctMedio_transporte').on('change', function () {
        let option = this.value;
        console.log(option);
        if (option == 1) {
            $("#switch_casetas").prop("disabled", true);
            $("#switch_aereo").prop("disabled", false);
            $("#switch_aereo").prop("checked", true);
            $("#aereo").removeClass("hidden");
            $("#switch_casetas").prop("checked", false);
            $("#vehiculo").addClass("hidden");
            $("#txtNum_casetas").val("");
            $("#txtImporte_gastos").val("");
            $("#txtTotal_peajes").val("");
            $("#Traza_ruta").val("");
            $("#btnGeneral").addClass("hidden");
            grantotal();
        } else if (option == 2) {
            $("#switch_aereo").prop("disabled", true);
            $("#switch_casetas").prop("disabled", false);
            $("#switch_casetas").prop("checked", true);
            $("#vehiculo").removeClass("hidden");
            $("#switch_aereo").prop("checked", false);
            $("#aereo").addClass("hidden");
            $("#btnGeneral").removeClass("hidden");
        } else {
            $("#switch_aereo").prop("disabled", true);
            $("#switch_aereo").prop("checked", false);
            $("#aereo").addClass("hidden");
            $("#switch_casetas").prop("disabled", true);
            $("#switch_casetas").prop("checked", false);
            $("#vehiculo").addClass("hidden");
            $("#txtNum_casetas").val("");
            $("#txtImporte_gastos").val("");
            $("#txtTotal_peajes").val("");
            $("#Traza_ruta").val("");
            grantotal();
        }
    });



    $('#btnGeneral').click(function () {
        if ($("#switchIndet").is(':checked') == true) {
            $('#txtDias_duracion').val("0");
            $('#txtImporte_viaticos').val("0");
        }
        // Serializar el formulario a JSON
        var disabled = $("#form_viaticos").find(':input:disabled').removeAttr('disabled')
        //let obj = $("#form_viaticos").serializeToJSON({ associativeArrays: false }); forma antigua !!
        const array = $("#form_viaticos").serializeArray();
        disabled.attr('disabled', 'disabled');
        //console.log(array);
        const json = {};
        $.each(array, function () {
            // set JSON con valor o null
            json[this.name] = this.value || null;

        });

        //console.log("JSON: ",json);
        validarDatos(json);

        var elementos = $(".error-lbl").map(function () {
            return this.id;
        }).get();
        if (elementos == 0) {
            enviarDatos(json);
            //console.log(json);
        }
        console.log("fallo ", elementos)
    });

    //funciones
    function enviarDatos(obj) {
        //console.log(obj);
        // Deshabilitamos el botón de Submit
        $("#btnGeneral").prop("disabled", true);

        //Limpiar formulario
        //$("#informe").val("");
        let viaticos = JSON.stringify(obj);
        var formData = new FormData();
        let file = $("#Traza_ruta").get(0).files[0];
        formData.append("json", viaticos);
        formData.append("file", file);
        console.log(formData);
        $.ajax({
            url: "@Url.Action("GuardarSolicitud", "ViaticosSolicitud")", // Url
            type: 'post',
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
        })
            // Se ejecuta si todo fue bien.
            .done(function (result) {
                //showAlert();
                //console.log(result);
                if (result != null) {
                    console.log(result, "success");
                    // Actualiza el resultado HTML
                    //$("#PostList").html(result);
                    $("#divDescripcion").show();

                    // Un pequeño esfecto especial ;)
                    $("#divDescripcion .row").hide();
                    $("#divDescripcion .row").slideToggle("fast");

                    // Limpia el formulario
                    //$("#folio").val("");

                    //LLenamos el formiulario
                    $("#informe").val(result.informe).prop("readonly", true);
                    $("#observacion").val(result.observacion).prop("readonly", true);
                    var styleElem = document.head.appendChild(document.createElement("style"));
                    styleElem.innerHTML = ".escala-" + result.letra + ":after {background: " + result.color + ";}";
                    $(".escala-" + result.letra).css("background", result.color);
                    var rutaInforme = '../doc/Sisevive/' + result.idUserCarga + '/' + result.folio + '/' + result.nombreArchInforme;
                    //console.log(rutaInforme);
                    $('#btnDownInfo').attr('href', rutaInforme);

                    // Escondemos el Ajax Loader
                    //$("#AjaxLoader").hide("slow");

                    // Habilitamos el botón de Submit
                    $("#btnGeneral").prop("disabled", false);

                    // Mostramos un mensaje de éxito.
                    $("#alertAjax").append(result);
                    showAlert();
                    //$("#ExitoAlert").show("slow").delay(2000).hide("slow");
                } else {
                    console.log(result, "error");
                    $("#divDescripcion").hide();
                    // Mostramos un mensaje de error.
                    $("#alertAjax").append(result);
                    // Habilitamos el botón de Submit
                    $("#btnGeneral").prop("disabled", false);

                    showAlert();
                }

            })
            // Se ejecuta si se produjo un error.
            .fail(function (xhr, status, error) {
                // Mostramos un mensaje de error.
                //$("#ErrorAlert").show("slow").delay(2000).hide("slow");

                // Escondemos el Ajax Loader
                //$("#AjaxLoader").hide("slow");

                // Habilitamos el botón de Submit
                //$("#SubmitBtn").prop("disabled", false);
            })
            // Hacer algo siempre, haya sido exitosa o no.
            .always(function () {
                //showAlert();
                $('body,html').animate({
                    scrollTop: 0
                }, 600);
                setInterval('location.reload()', 4000);
            });

    }
    function validarDatos(obj) {
        let file = $('#Traza_ruta').val();
        console.log("file nulo: ", file);
        if (file == "") {
            $('#lblTraza_ruta').addClass("error-lbl");
            $('#lblTraza_ruta').removeClass("hidden");
        } else {
            $('#lblTraza_ruta').removeClass("error-lbl");
            $('#lblTraza_ruta').addClass("hidden");
        }
        $.each(obj, function (key, val) {
            //console.log("error-", key, " : ", val);
            if (val == null) {
                $("#lbl" + key).addClass("error-lbl");
                $("#lbl" + key).removeClass("hidden");
            } else {
                $("#lbl" + key).removeClass("error-lbl");
                $("#lbl" + key).addClass("hidden");
                $("#lblDestino_2").removeClass("error-lbl");
                $("#lblFecha_2").removeClass("error-lbl");
                $("#lblHorario_2").removeClass("error-lbl");
                $("#lblDestino_3").removeClass("error-lbl");
                $("#lblFecha_3").removeClass("error-lbl");
                $("#lblHorario_3").removeClass("error-lbl");
                $("#lblDestino_4").removeClass("error-lbl");
                $("#lblFecha_4").removeClass("error-lbl");
                $("#lblHorario_4").removeClass("error-lbl");
                $("#lblDestino_2").addClass("hidden");
                $("#lblFecha_2").addClass("hidden");
                $("#lblHorario_2").addClass("hidden");
                $("#lblDestino_3").addClass("hidden");
                $("#lblFecha_3").addClass("hidden");
                $("#lblHorario_3").addClass("hidden");
                $("#lblDestino_4").addClass("hidden");
                $("#lblFecha_4").addClass("hidden");
                $("#lblHorario_4").addClass("hidden");
            }

        });

        //campos excluidos según switch
        let exclude;
        if ($("#switch_casetas").prop('checked') == false) {
            exclude = ["lblNum_casetas", "lblDotacion_combustible", "lblImporte_gastos", "lblTotal_peajes", "lblTraza_ruta"];
        } else {
            exclude = [];
        }

        for (let i = 0; i < exclude.length; i++) {
            $("#" + exclude[i]).removeClass("error-lbl");
            $("#" + exclude[i]).addClass("hidden");
            //console.log("#" + exclude[i])
        }

        let exclude2;
        if ($("#switch_aereo").prop('checked') == false) {
            exclude2 = ["lblFecha_salida", "lblFecha_regreso", "lblHorario_salida", "lblHorario_regreso", "lblObs_aereo", "lblDestino_1", "lblFecha_1", "lblHorario_1", "lblDestino_2", "lblFecha_2", "lblHorario_2", "lblDestino_3", "lblFecha_3", "lblDestino_4", "lblHorario_3", "lblFecha_4", "lblHorario_4","lblObs_aereo"];
        } else {
            exclude2 = [];
        }

        for (let i = 0; i < exclude2.length; i++) {
            $("#" + exclude2[i]).removeClass("error-lbl");
            $("#" + exclude2[i]).addClass("hidden");
            //console.log("#" + exclude2[i])
        }

        let exclude3;
        if ($("#switchIndet").is(':checked') == true) {
            exclude3 = ['lblPeriodo_comision_f'];
            alert(exclude3);
        } else {
            exclude3 = [];
        }

        for (let i = 0; i < exclude3.length; i++) {
            $("#" + exclude3[i]).removeClass("error-lbl");
            $("#" + exclude3[i]).addClass("hidden");
            //console.log("#" + exclude2[i])
        }

        $.each(obj, function (key, val) {
            if (val === "") {
                $("#txt" + key).focus();
                return false;
            }
        });
    }
    function obtenerDias(f1, f2) {

        let importeDiario = $("#txtCuota_diaria").val();
        let aFecha1 = f1.split('/');
        let aFecha2 = f2.split('/');
        let fFecha1 = Date.UTC(aFecha1[2], aFecha1[1] - 1, aFecha1[0]);
        let fFecha2 = Date.UTC(aFecha2[2], aFecha2[1] - 1, aFecha2[0]);
        let dif = fFecha2 - fFecha1;

        let dias = Math.floor(dif / (1000 * 60 * 60 * 24));
        let cve_nivel = '@Html.Raw(@ViewBag.CvNivel)';




        if (dias >= 0) {

            let nivel = cve_nivel.substring(0, 1);
            let dias_nivel = nivel == 'M' ? dias : dias + .5;
            $("#txtDias_duracion").val(dias_nivel);
            //console.log(nivel);
            $("#txtImporte_viaticos").val(dias_nivel * importeDiario);
            grantotal();
        } else {
            $("#txtDias_duracion").val("");
            $("#txtImporte_viaticos").val("");

        }
    }

    $("#txtImporte_gastos").change(function () {
        let nuCasetas = $("#txtNum_casetas").val();
        nuCasetas = nuCasetas == "" ? 0 : nuCasetas;
        let importeCasetas = $("#txtImporte_gastos").val();
        $("#txtTotal_peajes").val(parseFloat(importeCasetas).toFixed(2));
        grantotal();
    });
    $("#txtNum_casetas").change(function () {
        let nuCasetas = $("#txtNum_casetas").val();
        let importeCasetas = $("#txtImporte_gastos").val();
        importeCasetas = importeCasetas == "" ? 0 : importeCasetas;
        let total = nuCasetas * importeCasetas;
        $("#txtTotal_peajes").val(parseFloat(total).toFixed(2));
        grantotal();
    });



    function grantotal() {
        let totImporte = $("#txtImporte_viaticos").val();
        let totPeajes = $("#txtTotal_peajes").val();
        totImporte = totImporte == "" ? 0 : totImporte;
        totPeajes = totPeajes == "" ? 0 : totPeajes;
        console.log("Viaticos: ", totImporte, " Peajes: ", totPeajes)
        let granTotal = parseFloat(totImporte) + parseFloat(totPeajes);
        $("#txtGran_total").val(parseFloat(granTotal).toFixed(2));
    }



    function showAlert() {
        //scroll("partialView");
        setTimeout(function () {

            $("#alerta").fadeOut(1500);

        }, 6000);


        setTimeout(function () {

            $("#alerta").remove();
        }, 12000);

    }

    function showAlertVuelos() {
        //scroll("partialView");
        setTimeout(function () {

            $("#alertVuelos").show("slow");

        }, 200);


        setTimeout(function () {

            $("#alertVuelos").hide("slow");
        }, 2000);

    }

    function scroll(id) {
        try {
            let el = document.getElementById(id);
            el.scrollIntoView(true);
        } catch (e) { console.log(e) }
    }

    function showTable() {

            $("#spinner").show();
            $("#divTable").show();
            table = $('#table').DataTable({
                "proccessing": true,
                "serverSide": false,
                "ajax": {
                    url: "@Url.Action("GetSolicitudes", "ViaticosSolicitud")",
                    //url: "/AdminSolicitud/GetSolicitudes",
                    type: 'GET',
                    headers: { 'RequestVerificationToken': $('@Html.AntiForgeryToken()').val() },
                    //success: function (data) { console.log(data) },
                    complete: function (data) {
                        $("#spinner").hide();
                        dataJSON = data.responseJSON.data;
                        console.log(dataJSON);
                    }
                },
                "lengthMenu": [2, 5, 10, 20, 50, 100, 200, 500],
                "columnDefs": columns,
                "order": [[0, "desc"]],
                "autoWidth": true,
                "destroy": true,
                "scrollY": '700px',
                "scrollCollapse": true,
                "paging": true,
                "info": true,
                "buttons": ['excel'],
                "scrollX": true,
                "fixedColumns": true,
                "ordering": false,
                "language": {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    }
                }
            });
    }

    var columns = [

        { "name": "Id", "data": "id", "targets": 0, "visible": false },
        { "name": "Fecha", "data": "fechaSol", "targets": 1 },
        { "name": "Folio", "data": "folio", "targets": 2 },
        { "name": "Nombre", "data": "nombre", "targets": 3 },
        {
            "targets": 4,
            "data": null,
            "render": function (data, type, row, meta) {
                if (row.estatus >= 3) {
                    return '<a href="https://firmaelectronica.conavi.gob.mx:9090/doc/EFirma/Firmado/Recursos_Humanos/' + row.archivo_firma + '" target="_blank"><i class="fa fa-file-pdf-o gold" style="font-size:25px;"></i></a>';
                }
                return '<a href="../AdminSolicitud/GenerateStreamPDF?id=' + row.id + '" target="_blank"><i class="fa fa-file-pdf-o gold" style="font-size:25px;"></i></a>';
            },
            "sortable": false,
            "className": 'text-center'
        }
    ];


</script>
