
@{

    ViewBag.Title = "Pago";
}

<div class="row">
    <div class="form-group col-md-4">
        <div id="spinner" class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div class="form-group col-md-4">
        <div id="alertAjax" class="form-group">
            @Html.Raw(@ViewBag.Alert)
        </div>
    </div>
    <div class="form-group col-md-4">
        @*<a href="@Url.Action("GetAllBenef", "PevC2sr")"><i class="fa fa-file-pdf-o gold" style="font-size:25px;"></i></a>*@
    </div>
</div>

<div id="divTable" class="form-group" style="display:none;">
    <form id="formTable">
        <table id="table" class="table" style="width: 100%">
            <thead>
                <tr style="font-size:15px;">
                    <th>
                        ID
                    </th>
                    <th>
                        FECHA
                    </th>
                    <th>
                        FOLIO
                    </th>
                    <th>
                        NOMBRE
                    </th>
                    <th>
                        ARCHIVO
                    </th>
                    <th>
                        VALIDAR
                    </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </form>
</div>

<!-- Modal Observación-->
<form method="post" enctype="multipart/form-data" asp-controller="ViaticosPago" asp-action="TicketPago">
    <div class="modal fade fade-" style="z-index:1041" id="showModalPago" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class='modal-header'>
                    <h4 id='titulo-modal' style="font-weight: 300">Observaciones</h4>
                </div>
                <div class='modal-body' style="height: 250px; overflow-x: hidden; overflow-y: auto;">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <p>
                                    <small>Comprobante de Pago</small>
                                    <input type="file" class="form-control-file" id="Ticket" name="TicketPago" accept=".pdf">
                                    <small id="lblTraza_ruta" class="hidden">Campo requerido *</small>
                                </p>
                                <input id="textObserv" name="IdReg" hidden/>
                                <input id="textFolio" name="Folio" hidden/>
                                <input id="textUser" name="IdUser" hidden/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="btnCancel" class="btn btn-primary">Enviar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</form>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>


<script>
    var table;
    var dataJSON;
        $(document).ready(function () {
            showAlert();
            $("#spinner").hide();
            //showAlert();
            //var tipo = $("#slctTipo option:selected").val();
            showTable();
            //console.log(dataJSON);

            /*$('#slctTipo').on('change', function () {
                console.log(this.value);
                showTable(this.value);
            });*/

            $('#showModalPago').on('show.bs.modal', function (e) {
                var bookId = $(e.relatedTarget).data('book-id');
                var bookFolio = $(e.relatedTarget).data('book-folio');
                var bookUser = $(e.relatedTarget).data('book-user');
                $(e.currentTarget).find('#textObserv').val(bookId);
                $(e.currentTarget).find('#textFolio').val(bookFolio);
                $(e.currentTarget).find('#textUser').val(bookUser);
            });

            $('body').on('click', 'a', function (e) {

                if (this.className === "gold btn-action") {
                    let json = this.id.replace(/'/g, '"');
                    json = JSON.parse(json)

                    $.each(json, function (id, valor) {
                        //console.log(valor,id)
                        //console.log("$('#' ", id+").val("+valor+");");
                        //$("#" + id).attr("value", valor);
                        if (valor != null) {
                            console.log(id, ":", valor);
                            if (id == "id") {
                                $("#" + id).val(valor);
                            } else {
                                $("#" + id).text(valor);
                            }

                        } else {
                            $("#" + id).text("");
                        }
                        //$("#" + id).attr("disabled", true);
                    });

                    $("#partial").removeClass("hidden");
                    scroll("partial");
                    ValidaVehiculo();
                    ValidaAvion();
                    ValidaCaptura();
                }


            });

            $('#btnSubmitCancel').on('click', function (e) {

                // Deshabilitamos el botón de Submit
                $("#btnSubmitCancel").prop("disabled", true);
                console.log("ID CANCELA: ",$("#textObserv").val());
                //Limpiar formulario
                //$("#informe").val("");

                $.ajax({
                    url: "@Url.Action("CancelarSolicitud", "ContasSolicitud")", // Url
                    type: 'post',
                    data: {
                        // Datos / Parámetros
                        Obs: $("#txtCancela_sol").val(),
                        Id: $("#textObserv").val()
                    },
                })
                    // Se ejecuta si todo fue bien.
                    .done(function (result) {
                        //showAlert();
                        //console.log(result);
                        if (result != null) {
                            console.log(result, "success");
                            // Actualiza el resultado HTML
                            //$("#PostList").html(result);
                            $("#divDescripcion").show();

                            // Un pequeño esfecto especial ;)
                            $("#divDescripcion .row").hide();
                            $("#divDescripcion .row").slideToggle("fast");

                            // Limpia el formulario
                            //$("#folio").val("");

                            //LLenamos el formiulario
                            $("#informe").val(result.informe).prop("readonly", true);
                            $("#observacion").val(result.observacion).prop("readonly", true);
                            var styleElem = document.head.appendChild(document.createElement("style"));
                            styleElem.innerHTML = ".escala-" + result.letra + ":after {background: " + result.color + ";}";
                            $(".escala-" + result.letra).css("background", result.color);
                            var rutaInforme = '../doc/Sisevive/' + result.idUserCarga + '/' + result.folio + '/' + result.nombreArchInforme;
                            //console.log(rutaInforme);
                            $('#btnDownInfo').attr('href', rutaInforme);

                            // Escondemos el Ajax Loader
                            //$("#AjaxLoader").hide("slow");

                            // Habilitamos el botón de Submit
                            $("#btnGeneral").prop("disabled", false);

                            // Mostramos un mensaje de éxito.
                            $("#alertAjax").append(result);
                            showAlert();
                            //$("#ExitoAlert").show("slow").delay(2000).hide("slow");
                        } else {
                            console.log(result, "error");
                            $("#divDescripcion").hide();
                            // Mostramos un mensaje de error.
                            $("#alertAjax").append(result);
                            // Habilitamos el botón de Submit
                            $("#btnGeneral").prop("disabled", false);

                            showAlert();
                        }

                    })
                    // Se ejecuta si se produjo un error.
                    .fail(function (xhr, status, error) {
                        // Mostramos un mensaje de error.
                        //$("#ErrorAlert").show("slow").delay(2000).hide("slow");

                        // Escondemos el Ajax Loader
                        //$("#AjaxLoader").hide("slow");

                        // Habilitamos el botón de Submit
                        //$("#SubmitBtn").prop("disabled", false);
                    })
                    // Hacer algo siempre, haya sido exitosa o no.
                    .always(function () {
                        //showAlert();
                    });

    });


        });


        function showTable() {

            $("#spinner").show();
            $("#divTable").show();
            table = $('#table').DataTable({
                "proccessing": true,
                "serverSide": false,
                "ajax": {
                    url: "@Url.Action("GetSolicitudes", "ViaticosPago")",
                    //url: "/AdminSolicitud/GetSolicitudes",
                    type: 'GET',
                    headers: { 'RequestVerificationToken': $('@Html.AntiForgeryToken()').val() },
                    //success: function (data) { console.log(data) },
                    complete: function (data) {
                        $("#spinner").hide();
                        dataJSON = data.responseJSON.data;
                        console.log(dataJSON);
                    }
                },
                "columnDefs": columns,
                "order": [[0, "desc"]],
                "autoWidth": true,
                "destroy": true,
                "scrollY": '700px',
                "scrollCollapse": true,
                "paging": true,
                "info": true,
                "buttons": ['excel'],
                "scrollX": true,
                "fixedColumns": true,
                "ordering": false,
                "language": {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    }
                }
            });
        }

        var columns = [

            { "name": "Id", "data": "id", "targets": 0},
            { "name": "Fecha", "data": "fechaSol", "targets": 1 },
            { "name": "Folio", "data": "folio", "targets": 2 },
            { "name": "Nombre", "data": "nombre", "targets": 3 },
            //{ "name": "Editar", "data": "id", "targets": 4 }, ///Agregue este campo

            /*{
                "targets": 8,
                "data": null,
                "render": function (data, type, row, meta) {
                    if (row.nombreArchInforme != null) {
                        return '<a href="../doc/Sisevive/' + row.idUserCarga + "/" + row.folio + "/" + row.nombreArchInforme + '" target="_blank"><i class="fa fa-file-pdf-o gold" style="font-size:25px;"></i></a>';
                    }
                    return null;
                },
                "sortable": false,
                "className": 'text-center'
            },*/
            {
                "targets": 4,
                "data": null,
                "render": function (data, type, row, meta) {
                    let json = JSON.stringify(row);
                    json = json.replace(/"/g, "'");

                    return '<a href="https://firmaelectronica.conavi.gob.mx:9090/doc/EFirma/Firmado/Recursos_Humanos/' + row.archivo_firma +'" target="_blank"><i class="fa fa-file-pdf-o gold" style="font-size:25px;"></i></a>';
                },
                "sortable": false,
                "className": 'text-center'
            },
            {
                "targets": 5,
                "data": null,
                "render": function (data, type, row, meta) {
                    if (row.estatus == 4) {
                        return '<a data-book-id="' + row.id + '" data-book-folio="' + row.folio + '" data-book-user="' + row.idUsuario +'" class="gold" data-toggle="modal" data-target="#showModalPago"><i class="fa fa-upload gold" style="font-size:25px;"></i></a>';
                    } return "";
                },
                "sortable": false,
                "className": 'text-center'
            }
        ];

        function showAlert() {
            scroll("partialView");
            setTimeout(function () {

                $("#alerta").fadeOut(1500);

            }, 6000);


            setTimeout(function () {

                $("#alerta").remove();
            }, 12000);

        }

        function scroll(id) {
            try {
                let el = document.getElementById(id);
                el.scrollIntoView(true);
            } catch (e) { console.log(e) }
        }




        //Funciones mostrar/ocultar seccion vehicular o aerea

        function ValidaCaptura() {
            //console.log("entro Avion: ", $("#fecha salida").text());
            var linea = $('#linea_aerea').text();
            //console.log(salida);

            if (linea != "") {
                 console.log("mostrar ");
                $("#datosAvion").removeClass("hidden");
                $("#capturaAvion").addClass("hidden");
            } else {
                 console.log("ocultar ");
                $("#datosAvion").addClass("hidden");
                $("#capturaAvion").removeClass("hidden");
            }


        }
        function ValidaAvion() {
            //console.log("entro Avion: ", $("#fecha salida").text());
            var salida = $('#fecha_salida').text();
            var regreso = $('#fecha_regreso').text();
            var salidaav = $('#horario_salidaav').text();
            var regresoav = $('#horario_regresoav').text();
            //console.log(salida);

            if (salida != "01/01/0001 00:00:00" || regreso != "01/01/0001 00:00:00" || salidaav != "" || regresoav != "") {
               // console.log("mostrar ");
                $("#pasajesavion").removeClass("hidden");
            } else {
              // console.log("ocultar ");
                $("#pasajesavion").addClass("hidden");
            }


        }

        function ValidaVehiculo() {
            //console.log("entro vehiculo: ", $("#num_casetas").text());
            var casetas = $('#num_casetas').text();
            var combustible = $('#dotacion_combustible').text();
            var igastos = $('#importe_gastos').text();

            //alert(casetas);
            //alert("entro vehiculo: ", $("#num_casetas").html());
            if (casetas != "" || combustible != "" || igastos != "") {
                //console.log("mostrar ");
                $("#vehiculo").removeClass("hidden");
            } else {
                //console.log("ocultar ");
                $("#vehiculo").addClass("hidden");
            }
        }

</script>
