@model ConaviWeb.Model.Expedientes.Inventario

<form id="formInsertInventarioControl" enctype="multipart/form-data" method="post" asp-controller="InventarioControl" asp-action="InsertInventarioControl">
    <div class="alert alert-danger" asp-validation-summary="ModelOnly"><button class="close" data-dismiss="alert" aria-hidden="true">&times;</button></div>
    <input type="hidden" id="hd_id_inventario" asp-for="Id" value="@ViewBag.IdInv" />
    <div class="row form-group">
        <div class="col-md-8 form-group">
            <label class="control-label">Nombre de la Unidad Administrativa Generadora:</label>
            @*<select asp-for="IdArea" id="slctArea" class="form-control" asp-items="@(new SelectList((System.Collections.IEnumerable)ViewData["AreaCatalogo"], "Id", "Clave"))">*@
            <select asp-for="IdPuesto" id="slctCargos" class="form-control" asp-items="@ViewBag.AreaCatalogo" required>
                <option value="">--Seleccione--</option>
            </select>
        </div>
        <div class="col-md-4 datepicker-group">
            <label for="felaboracion_inventario" class="control-label">Fecha de elaboración del inventario:</label>
            <input type="text" asp-for="FechaElaboracion" value="@ViewBag.FechaElab" id="felaboracion_inventario" class="form-control" placeholder="aaaa/mm/dd" readonly required />
            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-8 form-group">
            <label class="control-label">Nombre del responsable del archivo de trámite:</label>
            <input type="text" asp-for="NombreResponsableAT" class="form-control" value="@ViewBag.NombreResponsable" required />
        </div>
        <div class="col-md-4 datepicker-group">
            <label for="fentrega_documento" class="control-label">Fecha de la entrega:</label>
            <input type="text" asp-for="FechaEntrega" value="@ViewBag.FechaEnt" id="fentrega_documento" class="form-control" readonly placeholder="aaaa/mm/dd"/>
            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
            <small><p class="help-block">En caso de una entrega-recepción se anota la última fecha del documento.</p></small>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button type="submit" class="btn btn-sm btn-primary btn-md pull-right active">
                <span class="fa fa-floppy-o"></span> Guardar
            </button>
            <button type="button" id="btn_fto" class="btn btn-sm btn-primary pull-right" title="Formato de Inventario para el control del acervo documental en los archivos de trámite" onclick="sendToFormat()">
                <span class="fa fa-print"></span> Formato
            </button>
        </div>
    </div>
</form>

<script src="https://framework-gb.cdn.gob.mx/assets/scripts/jquery-ui-datepicker.js"></script>
<script>
    $(document).ready(function () {
        $('#felaboracion_inventario, #fentrega_documento').datepicker({
            dateFormat: 'yy/mm/dd',
            changeYear: true
        });

        $("#formInsertInventarioControl").submit(function (e) {

        });
    });
</script>