<a class="btn btn-primary" target="_self" href="@Url.Action("Index","InventarioControl")" title="Inventario para el control del acervo documental en los archivos de trámite">
    Inventario de control
</a>
<a class="btn btn-primary" target="_self" href="@Url.Action("Index","Inventario")" title="Inventario de transferencia primaria al archivo de concentración">
    Transferencia primaria
</a>
<a class="btn btn-primary" target="_self" href="@Url.Action("Index","Bibliohemerografico")" title="Inventario de acervo bibliohemerográfico">
    Bibliohemerográfico
</a>
<a class="btn btn-primary" target="_self" href="@Url.Action("Index","Noexpedientable")" title="Inventario de Documentación no Expedientable transferible al Archivo de Concentración">
    No expedientable
</a>
@*<a class="btn btn-primary" target="_blank" href="@Url.Action("Index","Depuracion")" title="Bitácora de depuración preliminar por documentación de comprobación administrativa inmediata">
    Depuración
</a>*@