@{
    ViewData["Title"] = "Inicio";
}
@********************************************************************************************************************************************************************@
@{
    @await Html.PartialAsync("../Expedientes/Botones");
}
<div class="row">
    <div class="col-md-12" id="alertAjax">
        @Html.Raw(@ViewBag.Alert)
    </div>
</div>
@*Formulario para el inventario de control del acervo documental en los archivos de trámite*@
<div class="row">
    <div class="col-md-12 form-group">
        <h3 class="text-center">Inventario para el control del acervo documental en los archivos de trámite</h3>
    </div>
</div>
<div id="divAdd">
    @{
        @await Html.PartialAsync("../Expedientes/_AddInventarioControl")
    }
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <form id="formTable">
            <table id="tableExpedientesControl" class="table">
                <thead>
                    <tr>
                        <th>
                            No. Prog.
                        </th>
                        <th>
                            Cve del Expediente
                        </th>
                        <th>
                            Nombre del Expediente
                        </th>
                        <th>
                            No. de Legajos
                        </th>
                        <th>
                            Primero (antiguo)
                        </th>
                        <th>
                            Último (reciente)
                        </th>
                        <th>
                            Estatus
                        </th>
                        <th>
                            &nbsp;
                        </th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </form>
    </div>
</div>
<br />
<div id="div_btn_addExp">
    <button id="btn_add_exp" class="btn btn-default btn-sm pull-right" data-toggle="modal" data-target="#modalExpediente">
        <span class="fa fa-plus"></span> Agregar Expediente
    </button>
</div>
<div id="addExpediente">
    @{
        @await Html.PartialAsync("../Expedientes/_AddExpedienteControl")
    }
</div>
<!-- Modal Drop Expediente -->
<div class="modal fade fade-in" style="z-index:1041" id="showModalTrashExpediente" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @{
                @await Html.PartialAsync("../Expedientes/_DropExpedienteControl")
            }
        </div>
    </div>
</div>
<!-- Modal SendVal Expediente -->
<div class="modal fade fade-in" style="z-index:1041" id="showModalSendValExpediente" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @{
                @await Html.PartialAsync("../Expedientes/_SendValExpedienteControl")
            }
        </div>
    </div>
</div>
<!-- Modal Migrar Expediente Inv TP-->
<div class="modal fade fade-in" style="z-index:1041" id="showModalMigrarTP" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @{
                @await Html.PartialAsync("../Expedientes/_MigrarExpedienteControlInvTP")
            }
        </div>
    </div>
</div>
<!-- Modal Migrar Expediente Inv NoExpedientable -->
<div class="modal fade fade-in" style="z-index:1041" id="showModalMigrarNE" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @{
                @await Html.PartialAsync("../Expedientes/_MigrarExpedienteControlInvNE")
            }
        </div>
    </div>
</div>
 @*Modal VoBo Expediente 
<div class="modal fade fade-in" style="z-index:1041" id="showModalVoBoExpediente" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @{
                @await Html.PartialAsync("../Expedientes/_VoBoExpedienteControl")
            }
        </div>
    </div>
</div>
 Modal VoBo Expediente 
<div class="modal fade fade-in" style="z-index:1041" id="showModalRevalidacionExpediente" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @{
                @await Html.PartialAsync("../Expedientes/_RevalidacionExpedienteControl")
            }
        </div>
    </div>
</div>*@

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
        var table;
        $(document).ready(function () {
            showAlert();
            if ($("#hd_id_inventario").val() == 0) {
                $("#btn_add_exp").remove();
                $("#btn_fto").remove();
            }
            showTable();
            $('#showModalTrashExpediente').on('show.bs.modal', function (e) {
                var expId = $(e.relatedTarget).data('exp-id');
                $(e.currentTarget).find('#idExpediente').val(expId);
            });
            $('#showModalSendValExpediente').on('show.bs.modal', function (e) {
                var expId = $(e.relatedTarget).data('exp-id');
                $(e.currentTarget).find('#idExpediente').val(expId);
            });
            $('#showModalMigrarTP').on('show.bs.modal', function (e) {
                var expId = $(e.relatedTarget).data('exp-id');
                $(e.currentTarget).find('#idExpediente').val(expId);
            });
            $('#showModalMigrarNE').on('show.bs.modal', function (e) {
                var expId = $(e.relatedTarget).data('exp-id');
                $(e.currentTarget).find('#idExpediente').val(expId);
            });
            //$('#showModalVoBoExpediente').on('show.bs.modal', function (e) {
            //    var expId = $(e.relatedTarget).data('exp-id');
            //    $(e.currentTarget).find('#idExpediente').val(expId);
            //});
            //$('#showModalRevalidacionExpediente').on('show.bs.modal', function (e) {
            //    var expId = $(e.relatedTarget).data('exp-id');
            //    $(e.currentTarget).find('#idExpediente').val(expId);
            //});
            $('#modalExpediente').on('hidden.bs.modal', function (e) {
                $(this).find('#formInsertExpedienteControl')[0].reset();
                $('#hd_id_expediente').val("0");
            });
            $('#modalExpediente').on('show.bs.modal', function (e) {
                var bookId = $(e.relatedTarget).data('exp-id');
                if (!isNaN(bookId)) {
                    $.ajax({
                        url: "@Url.Action("GetExpedienteControl", "InventarioControl")", // Url
                        data: {
                            // Datos / Parámetros
                            Id: bookId
                        },
                        type: "post"  // Verbo HTTP
                    }).done(function (result) {
                        if (result.id != null) {
                            if (result.estatus != 'Aceptado' && result.estatus != 'Revisión') {
                                $('#hd_id_expediente').val(result.id);
                                $('#slctClaveExp option[value="' + result.idExpediente + '"]').prop('selected', true);
                                $('#Legajos').val(result.legajos);
                                $('#Nombre').val(result.nombre);
                                $('#idTipoSoporteDocumental option:contains("' + result.tipoSoporteDocumental + '")').prop('selected', true);
                                $('#ubicacion').val(result.ubicacion);
                                $('#Descripcion').val(result.descripcion);
                                $('#Observaciones').val(result.observaciones);
                                var fprimero = new Date(result.fechaPrimeroAntiguo);
                                var month = fprimero.getMonth() + 1;
                                var day = fprimero.getDate();
                                fprimero = fprimero.getFullYear() + '/' + (month < 10 ? '0' : '') + month + '/' + (day < 10 ? '0' : '') + day;
                                $('#fprimero_antiguo').val(fprimero);
                                var fultimo = new Date(result.fechaUltimoReciente);
                                var month = fultimo.getMonth() + 1;
                                var day = fultimo.getDate();
                                fultimo = fultimo.getFullYear() + '/' + (month < 10 ? '0' : '') + month + '/' + (day < 10 ? '0' : '') + day;
                                $('#fultimo_reciente').val(fultimo);
                                $('#Fojas').val(result.fojas);
                                $('#aniosArchivoCon').val(result.aniosResguardo);
                                $('#slctTipoDocumental option[value="' + result.idTipoDocumental + '"]').prop('selected', true);
                                $('#slctTipoSoporte option[value="' + result.idTipoSoporte + '"]').prop('selected', true);
                                $('#text_partes').val(result.noPartes);
                                if (result.fechaElaboracion != null) {
                                    var felaboracion = new Date(result.fechaElaboracion);
                                    var month = felaboracion.getMonth() + 1;
                                    var day = felaboracion.getDate();
                                    felaboracion = felaboracion.getFullYear() + '/' + (month < 10 ? '0' : '') + month + '/' + (day < 10 ? '0' : '') + day;
                                    $('#felaboracion_nexp').val(felaboracion);
                                }
                            } else {
                                $('#modalExpediente').modal('toggle');
                                window.scrollTo(0, 0);
                                $("#alertAjax").append("<div class='alertaOp alert alert-success' id='alerta'>El expediente no se puede editar en estos momentos!</div>");
                                showAlert();
                            }
                        } else {
                            $('#modalExpediente').modal('toggle');
                            window.scrollTo(0,0);
                            $("#alertAjax").append(result);
                            showAlert();
                        }
                    })
                    // Se ejecuta si se produjo un error.
                    .fail(function (xhr, status, error) {
                        // Mostramos un mensaje de error.
                        //$("#ErrorAlert").show("slow").delay(2000).hide("slow");

                        // Escondemos el Ajax Loader
                        //$("#AjaxLoader").hide("slow");

                        // Habilitamos el botón de Submit
                        //$("#SubmitBtn").prop("disabled", false);
                    })
                    // Hacer algo siempre, haya sido exitosa o no.
                    .always(function () {

                    });
                    //$(e.currentTarget).find('#idSerie').val(bookId);
                }
            });
            $("#slctCargos").on("change", function () {
                $.ajax({
                    url: "@Url.Action("GetInventarioControl", "InventarioControl")", // Url
                    data: {
                        // Datos / Parámetros
                        puesto: $("#" + this.id + " option:selected").text()
                    },
                    type: "post"  // Verbo HTTP
                }).done(function (result) {
                    if (result.id != null) {
                        $('#hd_id_inventario, #hd_id_inventario_expediente').val(result.id);
                        $('#NombreResponsableAT').val(result.nombreResponsableAT);
                        $('#fentrega_documento').val(result.fechaEntrega != null ? result.fechaEntrega.substring(0, 4) + '/' + result.fechaEntrega.substring(5, 7) + '/' + result.fechaEntrega.substring(8, 10) : '');
                        $('#felaboracion_inventario').val(result.fechaElaboracion != null ? result.fechaElaboracion.substring(0, 4) + '/' + result.fechaElaboracion.substring(5, 7) + '/' + result.fechaElaboracion.substring(8, 10) : '');
                        $("#btn_fto").length ? '' : $("#div_btns_inv").append('<button type="button" id="btn_fto" class="btn btn-sm btn-primary pull-right" title="Formato de Inventario de acervo blibliohemerográfico" onclick="sendToFormat()"><span class="fa fa-print"></span> Formato</button>');
                        $("#btn_add_exp").length ? '' : $("#div_btn_addExp").append('<button id="btn_add_exp" class="btn btn-default btn-sm pull-right" data-toggle="modal" data-target="#modalExpediente"><span class="fa fa-plus"></span> Agregar Expediente</button>');

                        var urlTipo = "";
                        urlTipo = "/InventarioControl/GetExpedientesControlByIdInv";
                        table = $('#tableExpedientesControl').DataTable({
                            "proccessing": true,
                            "serverSide": false,
                            "ajax": {
                                url: urlTipo,
                                data: { Id: result.id },
                                type: 'POST',
                                headers: { 'RequestVerificationToken': $('@Html.AntiForgeryToken()').val() },
                                complete: function () {
                                    $("#spinner").hide();
                                }
                            },
                            "columnDefs": columns,
                            "order": [[0, "desc"]],
                            "autoWidth": true,
                            "destroy": true,
                            "scrollY": true,
                            "scrollCollapse": true,
                            "paging": true,
                            "info": true,
                            "buttons": ['excel'],
                            "scrollX": true,
                            "fixedColumns": true,
                            "ordering": false,
                            "language": {
                                "sProcessing": "Procesando...",
                                "sLengthMenu": "Mostrar _MENU_ registros",
                                "sZeroRecords": "No se encontraron resultados",
                                "sEmptyTable": "Ningún dato disponible en esta tabla",
                                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                                "sInfoPostFix": "",
                                "sSearch": "Buscar:",
                                "sUrl": "",
                                "sInfoThousands": ",",
                                "sLoadingRecords": "Cargando...",
                                "oPaginate": {
                                    "sFirst": "Primero",
                                    "sLast": "Último",
                                    "sNext": "Siguiente",
                                    "sPrevious": "Anterior"
                                }
                            }
                        });
                    } else {
                        $("#alertAjax").append(result);
                        showAlert();
                        $('#hd_id_inventario, #hd_id_inventario_expediente').val('0');
                        $('#NombreResponsableAT, #fentrega_documento, #felaboracion_inventario').val('');
                        $("#btn_fto").remove();
                        $("#btn_add_exp").remove();
                        $('#tableExpedientesControl').DataTable().clear().destroy();
                        //$('#tableExpedientesControl').DataTable().destroy();
                    }
                })
                // Se ejecuta si se produjo un error.
                .fail(function (xhr, status, error) {
                    // Mostramos un mensaje de error.
                    //$("#ErrorAlert").show("slow").delay(2000).hide("slow");

                    // Escondemos el Ajax Loader
                    //$("#AjaxLoader").hide("slow");

                    // Habilitamos el botón de Submit
                    //$("#SubmitBtn").prop("disabled", false);
                })
                // Hacer algo siempre, haya sido exitosa o no.
                .always(function () {

                });
            });
        });
        function showTable() {
            var urlTipo = "";
            urlTipo = "/InventarioControl/ExpedientesControl";
            table = $('#tableExpedientesControl').DataTable({
                "proccessing": true,
                "serverSide": false,
                "ajax": {
                    url: urlTipo,
                    type: 'GET',
                    headers: { 'RequestVerificationToken': $('@Html.AntiForgeryToken()').val() },
                    complete: function () {
                        $("#spinner").hide();
                    }
                },
                "columnDefs": columns,
                "order": [[0, "desc"]],
                "autoWidth": true,
                "destroy": true,
                "scrollY": true,
                "scrollCollapse": true,
                "paging": true,
                "info": true,
                "buttons": ['excel'],
                "scrollX": true,
                "fixedColumns": true,
                "ordering": false,
                "language": {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    }
                }
            });
        }
        var columns = [
            { "name": "NoProg", "data": "noProg", "targets": 0},
            {
                "data": null,
                "targets": 1,
                "render": function (data, type, row) {
                    //var fprimero = (new Date(row.fechaPrimeroAntiguo)).getFullYear();
                    //var freciente = (new Date(row.fechaUltimoReciente)).getFullYear();
                    //var periodo = freciente == fprimero ? fprimero : fprimero + '-' + freciente;
                    return row.codigo + '-' + row.consecutivo + '/' + row.periodo;
                }
            },
            { "name": "Nombre", "data": "nombre", "targets": 2 },
            { "name": "Legajos", "data": "legajos", "targets": 3 },
            {
                "name": "FechaPrimeroAntiguo",
                "data": "fechaPrimeroAntiguo",
                "targets": 4,
                "render": function (data, type, row) {
                    var fprimero = new Date(row.fechaPrimeroAntiguo);
                    var month = fprimero.getMonth() + 1;
                    var day = fprimero.getDate();
                    return (fprimero.getFullYear() + '/' + (month < 10 ? '0' : '') + month + '/' + (day < 10 ? '0' : '') + day);
                }
            },
            {
                "name": "FechaUltimoReciente",
                "data": "fechaUltimoReciente",
                "targets": 5,
                "render": function (data, type, row) {
                    var fprimero = new Date(row.fechaUltimoReciente);
                    var month = fprimero.getMonth() + 1;
                    var day = fprimero.getDate();
                    return (fprimero.getFullYear() + '/' + (month < 10 ? '0' : '') + month + '/' + (day < 10 ? '0' : '') + day);
                }
            },
            //{ "name": "Estatus", "data": "estatus", "targets": 6 },
            {
                "name": "Estatus",
                "data": null,
                "targets": 6,
                "render": function (data, type, row) {
                    return row.estatus == 'Revalidación' ? row.estatus + '<br><p class="help-block small">' + row.observacionesRevalidacion + '</p>' : row.estatus;
                }
            },
            {
                "targets": 7,
                "data": null,
                "render": function (data, type, row, meta) {
                    var ret = '<a style="cursor:pointer;" class="gold" title="Carátula" href="CaratulaControl?id=' + data.id + '" target="_blank" style="font-size: 20px;"><span class="fa fa-file-text-o" aria-hidden="true"></span></a><br>';
                    //ret += row.estatus == 'Revisión' ? '<a data-exp-id=' + row.id + ' class="gold" type="button" data-toggle="modal" data-target="#showModalVoBoExpediente" style="font-size:20px;"><span style="cursor:pointer;" title="VoBo" class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span></a>' : '';
                    //ret += row.estatus == 'Revisión' ? '<a data-exp-id=' + row.id + ' class="gold" type="button" data-toggle="modal" data-target="#showModalRevalidacionExpediente" style="font-size:20px;"><span style="cursor:pointer;" title="Revalidación" class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></a>' : '';
                    if (row.esEditable == 'editable') {         //is editable for owner
                        ret += (row.estatus == 'Registro' || row.estatus == 'Revalidación' || row.estatus == 'Edición para migrar') ? '<a data-exp-id="' + row.id + '" class="gold" type="button" title="Editar" data-toggle="modal" data-target="#modalExpediente" style="font-size:20px;"><span style="cursor:pointer;" class="fa fa-pencil-square-o" aria-hidden="true"></span></a><br><a data-exp-id="' + row.id + '" class="gold" type="button" title="Eliminar" data-toggle="modal" data-target="#showModalTrashExpediente" style="font-size:20px;"><span style="cursor:pointer;" class="fa fa-trash-o" aria-hidden="true"></span></a><br><a data-exp-id=' + row.id + ' class="gold" type="button" title="Enviar a revisión" data-toggle="modal" data-target="#showModalSendValExpediente" style="font-size:20px;"><span style="cursor:pointer;" class="fa fa-check-square-o" aria-hidden="true"></span></a><br>' : '';
                        ret += (row.migradoTP == 0 && row.estatus == 'Aceptado') ? '<a data-exp-id="' + row.id + '" class="gold" type="button" title="Migrar a Inventario de Transferencia Primaria al Archivo de Concentración" data-toggle="modal" data-target="#showModalMigrarTP" style="font-size: 20px;"><span  style="cursor:pointer;" class="fa fa-share-square-o" aria-hidden="true"></span></a><br>' : '';
                        ret += (row.migradoNE == 0 && row.estatus == 'Aceptado') ? '<a data-exp-id="' + row.id + '" class="gold" type="button" title="Migrar a Inventario de Documentación No Expedientable" data-toggle="modal" data-target="#showModalMigrarNE" style="font-size: 20px;"><span  style="cursor:pointer;" class="fa fa-external-link" aria-hidden="true"></span></a><br>' : '';
                        ret += (row.estatus == 'Revisión') ? '<span style="color: #b8925f; font-size: 20px;" title="Enviado a revisión" class="fa fa-clock-o" aria-hidden="true"></span></a><br>' : '';
                    }
                    return ret;
                },
                "sortable": false,
                "className": 'text-center'
            },
        ];
        function showAlert() {
            setTimeout(function () {
                $("#alerta").slideToggle(1500);
            }, 4000);
            setTimeout(function () {
                $("#alerta").remove();
            }, 6000);
        }
        function showAlertModal() {
            setTimeout(function () {
                $("#alerta-modal").slideToggle(1500);
            }, 4000);
            setTimeout(function () {
                $("#alerta-modal").remove();
            }, 6000);
        }
        function sendToFormat() {
            var id = $("#hd_id_inventario").val();
            if (!isNaN(id) && id>0)
                window.open("/InventarioControl/ICFormato?id=" + id, "_blank");
        }
</script>
}